


/* Formulare */

fieldset
{
	padding:10px;
}

form div.line
{
	clear:left;
	margin-top:10px;
}

form div.label
{
	vertical-align:top;
	width:30%;
	display:inline-block;
}

form div.input
{
	vertical-align:top;
	width:70%;
	display:inline-block;
}

form div.input input[type=text],
form div.input textarea,
form div.input select
{
	width:90%;
}
form div.input input[type=checkbox],
form div.input input[type=radio]
{
	vertical-align:top;
}

label
{
	display:inline-block;
}

input[type=checkbox] + label,
input[type=radio] + label
{
	width:80%;
}

label div.description
{
	font-size: 0.75em;
	color:gray;
}




/* Zwischen-Ueberschriften */
fieldset
{
	/*
	border:1px solid grey;
	
	border-bottom:0px;
	border-left:0px;
	border-right:0px;
	margin-top:5px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	*/
    /*
	margin:0px;
	margin-top:20px;
	margin-bottom:20px;
	padding:15px;
	
	
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
	-webkit-box-shadow: 3px 2px 5px gray;
    -moz-box-shadow: 3px 2px 5px gray;
    box-shadow: 3px 2px 5px gray;
    */
}


/* Legende */
legend
{
	font-weight:bold;
}



/* Eingabfeld fuer Namen */
fieldset > div input.name,
fieldset > div span.name
{
	font-weight:bold;
}


/* Eingabfelder fuer Dateiname */
fieldset > div input.filename,
fieldset > div input.extension,
fieldset > div input.ansidate,
fieldset > div span.filename,
fieldset > div span.extension,
fieldset > div span.ansidate
{
	font-family:Courier;
	font-size:14px;
}


div#tree
{
	overflow:visible;
}





/* Anzeige von Text-Unterschieden */

/* Zeilen-Nr */
tr.diff > td.line
{
	background-color:white;
	padding-right:2px;
	border-right:3px solid grey;
	text-align:right;
	margin-right:2px;
}

/* Unveränderter Text */
tr.diff > td.equal
{
}

/* Entfernter Text */
tr.diff > td.old
{
	background-color:red;
}

/* Hinzugefuegter Text */
tr.diff > td.new
{
	background-color:green;
}

/* Geaenderter Text */
tr.diff > td.notequal
{
	background-color:yellow;
}

dl.notice
{
	border-left:10px silver solid;
	border-right:1px silver solid;
	padding:15px;
}

dl.notice > dt
{
	border-top: 1px silver solid;
}
dl.notice > dd
{
	border-bottom: 1px silver solid;
}

input.error,
.error
{
	border:2px dotted red !important;
}


body
{
	background-color:#E0E0D5;
	
	/* Hintergrundbild */
	background-image: url('http://127.0.0.1/~dankert/cms-test/cms09/themes/default/images/wallpaper-kachel.png');
	background-repeat: repeat;
}

div.window
{
	background-color:#E0E0D5;
}



/*   D r o p d o w n  -  M e n u e s  */
div.dropdown
{
	/* Schatten */	
	-webkit-box-shadow: 3px 2px 10px gray;
    -moz-box-shadow: 3px 2px 10px gray;
    box-shadow: 3px 2px 10px gray;
	
	opacity:0.95;
	background-color:white;
	
	border:2px solid grey;
	-moz-border-radius:5px; /* Mozilla */
    -webkit-border-radius:5px; /* Webkit */
    -khtml-border-radius:5px; /* Konqui */
    border-radius:5px;
    
    /*
	background: -moz-linear-gradient(top, gray, silver);
	background: -webkit-gradient(linear, left top, left bottom, from(gray), to(silver));
	*/
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
    color:black;
}


div#title span.titletext
{
	color:white;
}



div.filler div.headermenu > a.entry,
div.filler div.header a.back.button
{
	font-size: 0.8em;
}