/* Voreingestellte Schriftart */
body
{

}


/* Formulare */

fieldset
{
	padding:10px;
}

form div.line
{
	clear:left;
	margin-top:10px;
}

form div.label
{
	vertical-align:top;
	width:30%;
	display:inline-block;
}

form div.input
{
	vertical-align:top;
	width:70%;
	display:inline-block;
}

form div.input input[type=text],
form div.input textarea,
form div.input select
{
	width:90%;
}
form div.input input[type=checkbox],
form div.input input[type=radio]
{
	vertical-align:top;
}

label
{
	display:inline-block;
}

input[type=checkbox] + label,
input[type=radio] + label
{
	width:80%;
}

label div.description
{
	font-size: 0.75em;
	color:gray;
}


div.inputholder
{
	background-color:white;
	border:1px solid grey;
	margin:0px;
	padding:4px;
	-moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
}


input,
textarea,
select
{
	border:0px;
	border-bottom:1px solid silver;
	padding:2px;
	margin:0px;
	background-color:white;
}

input.error,
textarea.error,
select.error
{
	border-bottom:1px dotted black !important;
}

div.inputholder.error
{
	border:1px solid red !important;
}

input.hint
{
	color:grey;
}

/* Zwischen-Ueberschriften */
fieldset
{
	/*
	border:1px solid grey;
	
	border-bottom:0px;
	border-left:0px;
	border-right:0px;
	margin-top:5px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	*/
    /*
	margin:0px;
	margin-top:20px;
	margin-bottom:20px;
	padding:15px;
	
	
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
	-webkit-box-shadow: 3px 2px 5px gray;
    -moz-box-shadow: 3px 2px 5px gray;
    box-shadow: 3px 2px 5px gray;
    */
}


/* Legende */
legend
{
	font-weight:bold;
}



/* Eingabfeld fuer Namen */
fieldset > div input.name,
fieldset > div span.name
{
	font-weight:bold;
}


/* Eingabfelder fuer Dateiname */
fieldset > div input.filename,
fieldset > div input.extension,
fieldset > div input.ansidate,
fieldset > div span.filename,
fieldset > div span.extension,
fieldset > div span.ansidate
{
	font-family:Courier;
	font-size:14px;
}


div#tree
{
	overflow:visible;
}





/* Anzeige von Text-Unterschieden */

/* Zeilen-Nr */
tr.diff > td.line
{
	background-color:white;
	padding-right:2px;
	border-right:3px solid grey;
	text-align:right;
	margin-right:2px;
}

/* Unveränderter Text */
tr.diff > td.equal
{
}

/* Entfernter Text */
tr.diff > td.old
{
	background-color:red;
}

/* Hinzugefuegter Text */
tr.diff > td.new
{
	background-color:green;
}

/* Geaenderter Text */
tr.diff > td.notequal
{
	background-color:yellow;
}

dl.notice
{
	border-left:10px silver solid;
	border-right:1px silver solid;
	padding:15px;
}

dl.notice > dt
{
	border-top: 1px silver solid;
}
dl.notice > dd
{
	border-bottom: 1px silver solid;
}


/*   R a h m e n  */
div.windowx
{
	border:1px solid grey;
	
	-moz-border-radius:5px; /* Mozilla */
    -webkit-border-radius:5px; /* Webkit */
    -khtml-border-radius:5px; /* Konqui */
    border-radius:5px;
}


/*   S c h a t t e n   */
div.content a.action,
div.content a.help,
div.content input.ok,
div#title,
div.xwindow,
div#noticebar
{
	-webkit-box-shadow: 3px 2px 5px gray;
    -moz-box-shadow: 3px 2px 5px gray;
    box-shadow: 3px 2px 5px gray;
}



/*   F a r b e n   */

/* Gesamt-Hintergrund */
body
{
	background-color:#c9c9c9;
}

/* Fenster-Hintergrund */
div#header,                   /* Titelleite-Hintergrund */
div.window > div.menu > div.icons,
div.window > div.content,
div.window > div.menu ul.menu li a,      /* Tabs */
xdiv.window ul.menu li > span,  /* Tabs */
div.window div.header, /* Fenster-Header */
div.window ul.views > li.active,
div.window ul.views > li.active:hover
{
	background-color: gray;
	color: white;
	font-family:Arial;
	font-size:13px;
}

/* Reiter */
div.window ul.views li {
	font-family:Arial;
	font-size:13px;
	background-color: #dddddd;
	color: blue;
}

div.window ul.views li:hover {
	background-color: #bbbbbb;
	color: blue;
}




div#tree div.content,
ul.tree li.last,
ul.tree li:last-child,
table tr.data,
div.content pre,
div.dropdown,
div.dropdown a
{
	background-color:white;
	color:blue;
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 1.0em;
}


/*   D r o p d o w n  -  M e n u e s  */
div.dropdown
{
	/* Schatten */	
	-webkit-box-shadow: 3px 2px 10px gray;
    -moz-box-shadow: 3px 2px 10px gray;
    box-shadow: 3px 2px 10px gray;
	
	opacity:0.95;
	
	border:2px solid grey;
	-moz-border-radius:5px; /* Mozilla */
    -webkit-border-radius:5px; /* Webkit */
    -khtml-border-radius:5px; /* Konqui */
    border-radius:5px;
    
    /*
	background: -moz-linear-gradient(top, gray, silver);
	background: -webkit-gradient(linear, left top, left bottom, from(gray), to(silver));
	*/
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
}


div#title span.titletext
{
	color:white;
}



div.filler div.headermenu > a.entry,
div.filler div.header a.back.button
{
	font-size: 0.8em;
}