
fieldset div
{
	clear:left;
}


label
{
	width:30%;
	float:left;
}

xinput[type='checkbox']
{
	float:left;
}
xinput[type='checkbox'] + label
{
	width:80%;
	float:left;
}

xlabel + input
{
	margin-left:0%;
}


/* Zwischen-Ueberschriften */
fieldset
{
	border:1px solid grey;
	/*
	
	border-bottom:0px;
	border-left:0px;
	border-right:0px;
	margin-top:5px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	*/
	margin:0px;
	margin-top:20px;
	margin-bottom:20px;
	padding:15px;
	
	-moz-border-radius:5px; /* Mozilla */
    -webkit-border-radius:5px; /* Webkit */
    -khtml-border-radius:5px; /* Konqui */
    border-radius:5px;
    /*
	-webkit-box-shadow: 3px 2px 5px gray;
    -moz-box-shadow: 3px 2px 5px gray;
    box-shadow: 3px 2px 5px gray;
    */
}


/* Legende */
legend
{
	font-weight:bold;
}



/* Eingabfeld fuer Namen */
fieldset > div input.name,
fieldset > div span.name
{
	font-weight:bold;
}


/* Eingabfelder fuer Dateiname */
fieldset > div input.filename,
fieldset > div input.extension,
fieldset > div input.ansidate,
fieldset > div span.filename,
fieldset > div span.extension,
fieldset > div span.ansidate
{
	font-family:Courier;
	font-size:14px;
}


div#tree
{
	overflow:visible;
}





/* Anzeige von Text-Unterschieden */

/* Zeilen-Nr */
tr.diff > td.line
{
	background-color:white;
	padding-right:2px;
	border-right:3px solid grey;
	text-align:right;
	margin-right:2px;
}

/* Unveränderter Text */
tr.diff > td.equal
{
}

/* Entfernter Text */
tr.diff > td.old
{
	background-color:red;
}

/* Hinzugefuegter Text */
tr.diff > td.new
{
	background-color:green;
}

/* Geaenderter Text */
tr.diff > td.notequal
{
	background-color:yellow;
}

dl.notice
{
	border-left:10px silver solid;
	border-right:1px silver solid;
	padding:15px;
}

dl.notice > dt
{
	border-top: 1px silver solid;
}
dl.notice > dd
{
	border-bottom: 1px silver solid;
}
