
body.title,
body.main tr.menu,
body.menu tr.menu,
table.notice th
{ 
	background-image: url('../images/bg-title.png');
}
 

body.menu tr.title td,
body.main tr.title td
{ 
	background-image: url('../images/bg-menu.png');
	color: white;
}

input,
select,
div.cancel
{
	background-image: url('../images/bg-title.png');
	color:black;
	border-color:gray;
}

textarea
{
	color:black;
	border-color:gray;
}

input:hover,
textarea:hover
{
	border-color:black;
}

input:focus,
textarea:focus
{
	border-color:black;
	background-color:white;
}

input.submit,
input.ok,
div.cancel
{
	color:black;
}
