/* $Id$ */

a:link,a:visited
{
	color:green;
	font-weight:normal;
	text-decoration:none;
}

a:active,a:hover
{
	color:green;
	font-weight:bold;
	text-decoration:underline
}


a.mainmenu:link,
a.mainmenu:visited
{
	color:#CCCCCC;
	font-weight:bold;
	text-decoration:none;
}

a.mainmenu:active,
a.mainmenu:hover
{
	color:#CCCCCC; font-weight:bold; text-decoration:underline;
}

body
{
	color:#000000;
	font-family:Arial;
	font-size:13px;
	background-color:white;
}

body.title
{
	margin:0px;
}


form
{
	margin:0px;
	padding:0px;
}

pre
{
	font-family:Courier;
	font-size:13px;
}

small
{
	color:grey;
}

.mark
{
	border:1px solid black;
	background-color:#DDFFDD;
}

th
{
	background-color:green;
	color:white;
	font-family:Arial;
	font-size:13px;
	vertical-align:top;
	font-weight:bold;
	border-bottom:1px solid grey;
}

td
{
	color:#000000;
	font-family:Arial;font-size:13px;
	vertical-align:top;
}

td.line
{
	background-color: silver;
	border-left: 10px solid white;
	border-right: 10px solid white;
	color:black;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
}

td.help
{
	color:black;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	padding-bottom:10px;
}

body.menu tr.title td,
body.main tr.title td
{ background-color:green;vertical-align:middle; }

body.menu tr.menu td,
body.main tr.menu td
{ background-color:#DDFFDD; font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px; }

td.submenu { border-bottom:solid 1px black; background-color:#DDFFDD; }

td.act {background-color:FFFFDD; padding:15px; border-top:0px solid grey;  }
.mainmenu_headline{color:#CCCCCC; font-size:13px; color:black; font-weight:bold; }
.mainmenu_name{color:white; font-weight:bold; }
.mainmenu_val{color:#CCCCCC; font-weight:normal; }
p.copyright { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px; text-align:center; }

table.main { border:1px solid black; margin-top:30px; }

input.submit { color:white; font-weight:bold; background-color:green; }
input.reset  { color:white;                   background-color:green; text-align:right; }
textarea.desc { font-family:Arial;font-size:13px; }
textarea.longtext { font-family:Arial;font-size:13px; width:100%; height:300; }

input, select, textarea
{
	color:#000000;
	background-color:#FFFFDD;
}

input.name
{
	font-weight:bold;
}

.filename
{
	font-family:Courier;font-size:13px;
}

input.ansidate
{
	font-family:Courier;
	font-size:13px;
}

body, textarea
{
	scrollbar-base-color:#7B9CBD;
	scrollbar-arrow-color:white;

	scrollbar-highlight-color:#eae2c6;
	scrollbar-shadow-color:#cac2a6;
}