/* $Id$ */

a:link,a:visited
{
	color:green;
}

a:active,a:hover
{
	color:green;
	/*font-weight:bold;*/
}


body.menu tr.title a
{
	color:#CCCCCC;
}

body
{
	color:#000000;
	background-color:#DDFFDD;
}

table.main {
	background-color:white;
	}
small
{
	color:grey;
}

td.line
{
	background-color: silver;
	border-left: 10px solid white;
	border-right: 10px solid white;
	color:black;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
}

td.help
{
	color:black;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	padding-bottom:10px;
}

body.menu tr.title td,
body.main tr.title td
{ background-color:#55AA55; }

body.menu tr.menu td,
body.main tr.menu td
{ background-color:#CCEECC; font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px; }


td.act {background-color:FFFFDD; padding:15px; border-top:0px solid grey;  }
p.copyright { font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px; }

table.main { border-color:black; }

input.submit { color:white; font-weight:bold; background-color:green; }
input.reset  { color:white;                   background-color:green; }
textarea.desc { font-family:Arial;font-size:13px; }
textarea.longtext { font-family:Arial;font-size:13px;  }

input, select, textarea
{
	color:#000000;
	background-color:#FFFFDD;
}

input.name
{
	font-weight:bold;
}

.filename
{
	font-family:Courier;font-size:13px;
}

input.ansidate
{
	font-family:Courier;
	font-size:13px;
}

body, textarea
{
	scrollbar-base-color:#7B9CBD;
	scrollbar-arrow-color:white;

	scrollbar-highlight-color:#eae2c6;
	scrollbar-shadow-color:#cac2a6;
}