/*
Stylesheet for user switching from a CMS called ...... ouh, find out yourself ... :) 
*/


body.menu tr.title a,
body.main tr.title
{
	color:white;
}



a:link,
a:visited
{
	color:#000080;
}

a:active,
a:hover
{
	color:#000080;
}


a.el_include,
a.el_list
{
	background-color: blue;
}

a.el_longtext,
a.el_text
{
	background-color: lime;
}


a.el_infodate,
a.el_info
{
	background-color: white;
}

a.el_date
{
	background-color: aqua;
}

a.el_link
{
	background-color: fuchsia;
}

a.el_number
{
	background-color: lime;
}

a.el_code
{
	background-color: gray;
}

a.el_icon
{
	background-color: yellow;
}

		            
a.mainmenu:link,
a.mainmenu:visited
{
	color:#CCCCCC;
}

a.mainmenu:active,
a.mainmenu:hover
{
	color:#CCCCCC;
}


/* Allgemeine Body-Angaben */
body
{
	color:#000000;
	font-family:Arial;
	font-size:12px;
	background-color:#EEEEEE;
}


body.main table.main,
{
	background-color:white;
}
body.main tr.menu td.action:hover,
body.menu tr.menu td.action:hover
{
	background-color:silver;
}


body, textarea
{
	scrollbar-face-color: #eeeeee;
	scrollbar-shadow-color: #000000;
	scrollbar-highlight-color: #000000;
	scrollbar-3dlight-color: #eeeeee;
	scrollbar-darkshadow-color: #eeeeee;
	scrollbar-track-color: #eeeeee;
	scrollbar-arrow-color: #000000;
}

body.title
{
	background-color:white;
	color:black;
}

pre
{
	font-family:Courier;
	font-size:13px;
}

small
{
	color:grey;
}

td.diff_equal
{
}
td.diff_old
{
	background-color:red;
}
td.diff_new
{
	background-color:green;
}
td.diff_notequal
{
	background-color:yellow;
}

td.help
{
	color:black;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
}

td.title
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
}

/* Hauptmenue */
body.menu tr.title td,
body.main tr.title td
{
	background-color:#000080;
}

/* Submenue */
body.menu tr.menu td,
body.main tr.menu td
{
	background-color:#DFDFDF;
}

td.act
{
	background-color:#DFDFDF;
}

.mainmenu_headline{color:#CCCCCC; font-size:13px; color:black;  }
.mainmenu_name{color:white; font-weight:bold; font-size:24px; }
.mainmenu_val{color:#CCCCCC;  }
.mainmenu_title{color:#CCCCCC;vertical-align:middle;font-size:24px; }

table.main { border:1px solid black; }

input.submit { color:#FFFFFF; background-color:#808080; }
input.reset  { color:#black; background-color:##000080; text-align:right; }
textarea.desc { font-family:Arial;font-size:13px; }
textarea.longtext { font-family:Arial;font-size:13px; width:100%; height:300; }

input,
select,
textarea
{
	color:#000000;
	background-color:#DFDFDF;
}
