/* $Id$ */

/*
 simply read-yellow colors...
*/

a:link,
a:visited
{
	color:#BB0C0C;
	font-weight:normal;
	text-decoration:none;
}
a:active,
a:hover
{
	color:#BB0C0C;
	font-weight:normal;
	text-decoration:underline;
}


body.menu tr.title td,
body.main tr.title td
{	background-color:#BB0C0C;}

body.menu,tr.menu td,
body.main tr.menu td
{ background-color:#EED536; }