/* OpenRat Theme */

/*
 * The following variables beginning with '@cms-...' are overwritten by the CMS style configuration values
 */
@cms-theme-id: 'theme-name'; /* technical name of theme */
@cms-image-path: '/'; /* Image-path */
@cms-name: name; /* Logic name of theme */

@cms-main-title-background-color: white;
@cms-main-title-text-color: black;
@cms-main-text-color: black;
@cms-main-background-color: silver;

@cms-inactive-background-color: gray;

@cms-nav-title-text-color: gray;
@cms-nav-title-background-color: gray;
@cms-nav-text-color: gray;
@cms-nav-background-color: gray;

@cms-dialog-title-text-color: gray;
@cms-dialog-title-background-color: gray;
@cms-dialog-text-color: gray;
@cms-dialog-background-color: gray;

@cms-image-color: gray;

@cms-background-image: "@{cms-image-path}background/fog.jpeg";

@cms-notice-ok-color: green;
@cms-notice-info-color: blue;
@cms-notice-warning-color: yellow;
@cms-notice-error-color: red;

@cms-fill-color: black;

html.or-theme-@{cms-theme-id} {

    .box-shadow (@x, @y, @radius, @color) {
        -webkit-box-shadow: @x @y @radius @color;
        -moz-box-shadow: @x @y @radius @color;
        box-shadow: @x @y @radius @color;
    }

    scrollbar-face-color: @cms-main-title-background-color;
    scrollbar-arrow-color: @cms-main-title-background-color;
    scrollbar-base-color: @cms-main-title-text-color;

    scrollbar-color: @cms-main-title-text-color @cms-main-background-color;
    scrollbar-width: thin;



    .or {

        &-image-icon {
          color: @cms-image-color;
        }

        &-view {
            &-header {
                color: @cms-main-title-background-color;
            }
        }

        &-notice {
            color: black;
            line-height: 1.5em;

            &--ok {
                background-color: @cms-notice-ok-color;
                border-color: darken(@cms-notice-ok-color, 10%);

                &:after {
                    border-left-color: darken(@cms-notice-ok-color, 10%);
                }

                .box-shadow(3px, 3px, 10px, mix(@cms-main-background-color, @cms-notice-ok-color, 20%));
            }

            &--warning {
                background-color: @cms-notice-warning-color;
                border-color: darken(@cms-notice-warning-color, 10%);

                &:after {
                    border-left-color: darken(@cms-notice-warning-color, 10%);
                }

                .box-shadow(3px, 3px, 10px, mix(@cms-main-background-color, @cms-notice-warning-color, 20%));
            }

            &--info {
                background-color: @cms-notice-info-color;
                border-color: darken(@cms-notice-info-color, 10%);

                &:after {
                    border-left-color: darken(@cms-notice-info-color, 10%);
                }

                .box-shadow(3px, 3px, 10px, mix(@cms-main-background-color, @cms-notice-info-color, 20%));
            }

            &--error {
                background-color: @cms-notice-error-color;
                border-color: darken(@cms-notice-error-color, 10%);

                &:after {
                    border-left-color: darken(@cms-notice-error-color, 10%);
                }

                .box-shadow(3px, 3px, 10px, mix(@cms-main-background-color, @cms-notice-error-color, 20%));

            }
        }


        &-preview {
            a:link, a:visited, a:active, a:hover {
            }

            color: @cms-main-background-color;
        }


        &-table {

            tr.headline > td,
            tr.headline > th {
                border-bottom: 1px solid @cms-main-title-background-color;
            }

            tr > td {
                border-bottom: 1px solid @cms-main-title-background-color;
            }

            tr:nth-child(2n) {
                //background-color: @cms-inactive-background-color;
            }

            tr.or-data:hover,
            tr.or-table-data:hover{
                background-color: @cms-main-title-background-color;
                color: @cms-main-title-text-color;
            }
        }


        &-workbench {

          &-title {
            text-color: @cms-main-text-color;
            background-color: @cms-main-title-background-color;
            //background-image: linear-gradient(to bottom, lighten(@cms-main-background-color, 10%), @cms-main-title-background-color 90%, @cms-inactive-background-color);
            color: @cms-main-title-text-color;

            .or-toolbar-icon > a {
              color: @cms-main-title-text-color;
            }
          }
          &-workplace {
            text-color: @cms-main-text-color;
            background-color: @cms-main-background-color;
          }

          &-search {
            text-color: @cms-nav-title-text-color;
            background-color: @cms-nav-title-background-color;

          }


          &-navigation {
            &-container {
              text-color: @cms-nav-text-color;
              background-color: @cms-nav-background-color;
            }

            &-filler {
                //background-color: @cms-nav-title-background-color;
                background-color: @cms-fill-color;
            }
          }



            &-section {
                border-color: @cms-main-text-color;

                &.or-open {
                    background-color: lighten(@cms-main-background-color, 10%);
                }
            }


/*            &-navigation-container {
                //background-color: @cms-main-title-background-color;
                //color: @cms-main-title-text-color;
                background-color: @cms-main-background-color;
                .box-shadow(10px, 0px, 25px, @cms-main-background-color);
                background-image: linear-gradient(to right, lighten(@cms-main-background-color, 10%), @cms-main-background-color);
            }*/
            &-navigation,
            &-navigation .or-link {
                color: @cms-main-text-color;
            }
        }

      &-search {
        &-result {
          background-color: @cms-nav-background-color;
        }
      }

      &-dialog {
        &-title {
          background-color: @cms-dialog-title-background-color;
          color: @cms-dialog-title-text-color;
        }
        &-content {
          background-color: @cms-dialog-background-color;
          color: @cms-dialog-text-color;
          //.box-shadow();

          .or-view {
          }
        }

        &-filler {
          //background-color: @cms-main-background-color;
          background-color: @cms-fill-color;
        }
      }

        &-input {
            background-color: @cms-main-title-background-color;
            color: @cms-main-title-text-color;
            border: 1px solid mix(@cms-main-title-text-color, @cms-main-title-background-color);
            .box-shadow(0px, 0px, 3px, @cms-main-title-text-color);
            border-bottom: 1px solid @cms-main-text-color;

            &:focus {
            }

            border-color: @cms-main-title-text-color;

            &--error {
                border-bottom: 1px dotted @cms-main-text-color ! important;
                border: 1px solid @cms-notice-error-color ! important;
            }


            &.or-hint {
                color: @cms-main-title-background-color;
            }

        }


        &-group {
            border-color: mix(@cms-main-text-color, @cms-main-background-color);

        }

        &-act-clickable {

            //color: inherit;
            /*
            &.or-filtered > a {
                color: @cms-text-color;

                &.or-dropdown-entry--active:hover {
                    color: @cms-background-color;
                }
            }

            &.or-filtered.or-dropdown-entry--active > a {
                color: @cms-text-color;

                &:hover {
                    color: @cms-background-color;
                }
            }*/
        }

        &-dropdown {
            .or-link {
                color: inherit;
            }

            .box-shadow(3px, 2px, 5px, @cms-main-background-color);
            border: 1px solid mix(@cms-main-background-color,@cms-inactive-background-color);

            background-color: @cms-main-background-color;
            color: @cms-main-text-color;

            &-entry {

                background-color: @cms-main-background-color;
                color: @cms-main-text-color;

                &--inactive {
                    color: mix(@cms-main-background-color, @cms-main-text-color, 40%);
                }

                &--active:hover {
                    background-color: @cms-main-text-color;
                    color: @cms-main-background-color;
                }
            }


            &-divide {
                background-color: mix(@cms-main-background-color,@cms-inactive-background-color);
            }
        }

        &-toolbar-icon {
            border: 1px solid @cms-main-title-background-color;

            &:hover {
                border: 1px solid @cms-main-title-text-color;
            }
        }


        &-dropzone-upload > .or-value {
            background-color: @cms-main-title-text-color;
            border: 1px dotted @cms-main-text-color;
        }

        &-hover-effect:hover {
            background-color: darken(@cms-main-background-color, 10%);;
        }

        &-info-popup {
            background-color: @cms-main-title-background-color;
            color: @cms-main-title-text-color;
        }


        &-collapsible-title {
            border-color: @cms-main-title-text-color;
        }

        &-btn,
        &-link-btn {
            border-color: @cms-main-background-color;
            &--is-active {
                background-color: @cms-inactive-background-color;
                border-color: @cms-main-background-color;
            }
            color: @cms-main-title-text-color;
            .box-shadow(0, 0, 0.5em, @cms-main-background-color);

            &:hover {
                border-color: @cms-main-title-text-color;
            }

            &--primary {
                background-color: @cms-main-title-background-color;
            }
        }

        &-form {
          &-content {
            padding-bottom: 5em;
          }
          &-actionbar {
            background-color: @cms-dialog-title-background-color;
          }
        }
    }

    small {
        color: @cms-main-title-background-color;
    }

    textarea.longtext {
        border-color: @cms-main-text-color;
    }

    body {
        color: @cms-main-text-color;
    }
    a {
        color: inherit;
    }

    body {
        &:before {
            filter: hue-rotate(unit(hue(@cms-inactive-background-color),deg)) saturate(saturation(@cms-inactive-background-color)) brightness(lightness(@cms-inactive-background-color)  );
            background-image: url(@cms-background-image);
        }
    }
}

/* Theme Ende */
