<!-- Sample context.xml for Tomcat Servlet Engine -->
<Context>

    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
	
	<!-- Beware: You must download the JARs with the database
	     driver an place them in Tomcats lib-directory -->

    <!-- Sample Oracle Datasource -->
    <Resource name="jdbc/myoracledb" auth="Container"
              type="javax.sql.DataSource" driverClassName="oracle.jdbc.OracleDriver"
              url="jdbc:oracle:thin:@localhost:1521:name"
              username="dbuser" password="dbpassword" maxActive="20" maxIdle="10"
              maxWait="-1"/> 
              
    <!-- Sample SQlite Datasource -->
    <Resource name="jdbc/mysqlitedb" auth="Container"
              type="javax.sql.DataSource" driverClassName="org.sqlite.JDBC"
              url="jdbc:sqlite://path/to/mydb.db" /> 
              
    <!-- Sample PostgreSQL Datasource -->
    <Resource name="jdbc/mypostgresqldb" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://127.0.0.1:5432/mydb"
          username="dbuser" password="dbpass" maxActive="20" maxIdle="10" maxWait="-1"/>

</Context>