.or-table-wrapper .or-table-area {
	/* Responsive Tables */
	/* T a b l e s */
}
@media screen and (max-width: 40em) {
	.or-table-wrapper .or-table-area {
		overflow-x: auto;
	}
}
.or-table-wrapper .or-table-area table {
	overflow: auto;
	border: 2px;
	/* Notizen */
	/* Kalender */
	/* Notizen */
	/* Kalender */
	/* Message of the day */
	/* D i f f  */
	/* Hilfe-Texte */
	/* Logo */
}
.or-table-wrapper .or-table-area table tr.headline > td,
.or-table-wrapper .or-table-area table tr > th {
	padding: 3px;
	font-weight: bold;
}
.or-table-wrapper .or-table-area table tr.headline > td.sort-asc > span:last-child:after,
.or-table-wrapper .or-table-area table tr > th.sort-asc > span:last-child:after {
	content: " \2193";
}
.or-table-wrapper .or-table-area table tr.headline > td.sort-desc > span:last-child:after,
.or-table-wrapper .or-table-area table tr > th.sort-desc > span:last-child:after {
	content: " \2191";
}
.or-table-wrapper .or-table-area table tr.data > td {
	padding: 3px;
}
.or-table-wrapper .or-table-area table td.readonly {
	font-style: italic;
	font-weight: normal;
}
.or-table-wrapper .or-table-area table td.default {
	font-style: normal;
	font-weight: normal;
}
.or-table-wrapper .or-table-area table td.changed {
	font-style: normal;
	font-weight: bold;
}
.or-table-wrapper .or-table-area table td.notice {
	margin: 0px;
	padding: 5%;
	text-align: center;
}
.or-table-wrapper .or-table-area table.notice {
	width: 100%;
	border: 1px solid;
	border-spacing: 0px;
}
.or-table-wrapper .or-table-area table.notice th {
	padding: 2px;
	white-space: nowrap;
	border-bottom: 1px solid #000000;
	font-weight: normal;
	text-align: left;
}
.or-table-wrapper .or-table-area table.notice tr.warning {
	margin: 0px;
	padding: 0px;
}
.or-table-wrapper .or-table-area table.calendar {
	table-layout: fixed;
	border-collapse: collapse;
	text-align: center;
}
.or-table-wrapper .or-table-area table.calendar td {
	border: 1px dotted;
}
.or-table-wrapper .or-table-area table td.notice {
	margin: 0px;
	padding: 5%;
	text-align: center;
}
.or-table-wrapper .or-table-area table.notice {
	width: 100%;
	border: 1px solid;
	border-spacing: 0px;
}
.or-table-wrapper .or-table-area table.notice th {
	padding: 2px;
	white-space: nowrap;
	border-bottom: 1px solid #000000;
	font-weight: normal;
	text-align: left;
}
.or-table-wrapper .or-table-area table.notice tr.warning {
	margin: 0px;
	padding: 0px;
}
.or-table-wrapper .or-table-area table.calendar {
	table-layout: fixed;
	border-collapse: collapse;
	text-align: center;
}
.or-table-wrapper .or-table-area table.calendar td {
	border: 1px dotted;
}
.or-table-wrapper .or-table-area table td.motd {
	border-left: 3px solid red;
	border-right: 3px solid red;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
}
.or-table-wrapper .or-table-area table td:hover > div.onrowvisible {
	visibility: visible;
}
.or-table-wrapper .or-table-area table tr.diff {
	/* Unveränderter Text */
	/* Entfernter Text */
	/* Hinzugefuegter Text */
	/* Geaenderter Text */
}
.or-table-wrapper .or-table-area table tr.diff > td.line {
	background-color: #000000;
	padding-right: 2px;
	border-right: 3px solid #000000;
	text-align: right;
	margin-right: 2px;
}
.or-table-wrapper .or-table-area table tr.diff > td.old {
	background-color: red;
}
.or-table-wrapper .or-table-area table tr.diff td.new {
	background-color: green;
}
.or-table-wrapper .or-table-area table tr.diff td.notequal {
	background-color: yellow;
}
.or-table-wrapper .or-table-area table tr td.help {
	font-style: italic;
}
.or-table-wrapper .or-table-area table tr.headline td.help {
	/*
                border-bottom:1px solid @color-overridden-by-theme;
                */
	font-style: normal;
}
.or-table-wrapper .or-table-area table td.logo {
	padding: 10px;
	margin: 0px;
}
.or-table-wrapper .or-table-filter {
	width: 100%;
	text-align: right;
}
.or-table-wrapper .or-table-filter input {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	padding: 0.5em;
	margin: 1em;
	background-color: #000000;
	color: #000000;
	border: 1px solid #000000;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22table.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AASA%2CiBAEI%3B%3B%3B%3BAAQI%2CmBALoC%3BCAKpC%2CiBARJ%3BEAKQ%3B%3B%3BAAPZ%2CiBAEI%2CeASI%3BCACI%3BCACA%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BAAbZ%2CiBAEI%2CeASI%2CMAII%2CGAAE%2CSAAY%3BAAf1B%2CiBAEI%2CeASI%2CMAKI%2CGAAK%3BCAED%3BCACA%3B%3BAAEA%2CiBAnBZ%2CeASI%2CMAII%2CGAAE%2CSAAY%2CKAMT%2CSAAY%2COAAI%2CWAAW%3BAAA5B%2CiBAnBZ%2CeASI%2CMAKI%2CGAAK%2CKAKA%2CSAAY%2COAAI%2CWAAW%3BCACxB%2CSAAS%2CQAAT%3B%3BAAEJ%2CiBAtBZ%2CeASI%2CMAII%2CGAAE%2CSAAY%2CKAST%2CUAAa%2COAAI%2CWAAW%3BAAA7B%2CiBAtBZ%2CeASI%2CMAKI%2CGAAK%2CKAQA%2CUAAa%2COAAI%2CWAAW%3BCACzB%2CSAAS%2CQAAT%3B%3BAAzBpB%2CiBAEI%2CeASI%2CMAkBI%2CGAAE%2CKAAQ%3BCACN%3B%3BAA9BhB%2CiBAEI%2CeASI%2CMAsBI%2CGAAE%3BCACE%3BCACA%3B%3BAAnChB%2CiBAEI%2CeASI%2CMA0BI%2CGAAE%3BCACE%3BCACA%3B%3BAAvChB%2CiBAEI%2CeASI%2CMA8BI%2CGAAE%3BCACE%3BCACA%3B%3BAA3ChB%2CiBAEI%2CeASI%2CMAmCI%2CGAAE%3BCACE%3BCACA%3BCACA%3B%3BAAGJ%2CiBAlDR%2CeASI%2CMAyCK%3BCACG%3BCACA%2CiBAAA%3BCACA%3B%3BAAHJ%2CiBAlDR%2CeASI%2CMAyCK%2COAIG%3BCACI%3BCACA%3BCACA%2CgCAAA%3BCACA%3BCACA%3B%3BAATR%2CiBAlDR%2CeASI%2CMAyCK%2COAeG%2CGAAE%3BCACE%3BCACA%3B%3BAAKR%2CiBAxER%2CeASI%2CMA%2BDK%3BCACG%3BCACA%3BCACA%3B%3BAAHJ%2CiBAxER%2CeASI%2CMA%2BDK%2CSAKG%3BCACI%2CkBAAA%3B%3BAAhFpB%2CiBAEI%2CeASI%2CMA0EI%2CGAAE%3BCACE%3BCACA%3BCACA%3B%3BAAGJ%2CiBAzFR%2CeASI%2CMAgFK%3BCACG%3BCACA%2CiBAAA%3BCACA%3B%3BAAGJ%2CiBA%5C%2FFR%2CeASI%2CMAsFK%2COAAQ%3BCACL%3BCACA%3BCACA%2CgCAAA%3BCACA%3BCACA%3B%3BAAMJ%2CiBA1GR%2CeASI%2CMAiGK%2COAAQ%2CGAAE%3BCACP%3BCACA%3B%3BAAIJ%2CiBAhHR%2CeASI%2CMAuGK%3BCACG%3BCACA%3BCACA%3B%3BAAGJ%2CiBAtHR%2CeASI%2CMA6GK%2CSAAU%3BCACP%2CkBAAA%3B%3BAAzHhB%2CiBAEI%2CeASI%2CMAiHI%2CGAAE%3BCACE%2C0BAAA%3BCACA%2C2BAAA%3BCACA%3BCACA%3BCACA%3B%3BAAjIhB%2CiBAEI%2CeASI%2CMAwHI%2CGAAE%2CMAAS%2CMAAG%3BCACV%3B%3BAApIhB%2CiBAEI%2CeASI%2CMA6HI%2CGAAE%3B%3B%3B%3B%3B%3BAAxId%2CiBAEI%2CeASI%2CMA6HI%2CGAAE%2CKACI%2CKAAE%3BCACA%2CyBAAA%3BCACA%3BCACA%2C%2BBAAA%3BCACA%3BCACA%3B%3BAA9IpB%2CiBAEI%2CeASI%2CMA6HI%2CGAAE%2CKAcI%2CKAAE%3BCACA%3B%3BAAvJpB%2CiBAEI%2CeASI%2CMA6HI%2CGAAE%2CKAmBE%2CGAAE%3BCACE%3B%3BAA5JpB%2CiBAEI%2CeASI%2CMA6HI%2CGAAE%2CKAwBE%2CGAAE%3BCACE%3B%3BAAjKpB%2CiBAEI%2CeASI%2CMA2JI%2CGAAG%2CGAAE%3BCACD%3B%3BAAvKhB%2CiBAEI%2CeASI%2CMA%2BJI%2CGAAE%2CSAAU%2CGAAE%3B%3B%3B%3BCAIV%3B%3BAA9KhB%2CiBAEI%2CeASI%2CMAwKI%2CGAAE%3BCACE%3BCACA%3B%3BAArLhB%2CiBA8LI%3BCACI%3BCACA%3B%3BAAhMR%2CiBA8LI%2CiBAII%3BCAxMJ%2CkBAAA%3BCACA%2CuBAAA%3BCACA%2C0BAAA%3BCACA%2CyBAAA%3BCAuMQ%3BCACA%3BCACA%2CyBAAA%3BCACA%2CcAAA%3BCACA%2CyBAAA%22%7D */