/* Usage to this variable is safe to be removed */
@color-overridden-by-theme: black;

@smartphones: ~"only screen and (max-width: 55rem)";


.border-radius (@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    -khtml-border-radius: @radius;
}
.or- {


    &notice {
        border: 2px solid @color-overridden-by-theme;
        padding: 1.1em;
        margin: 0.5em;
        position: relative;

        .border-radius(1em);

        @media @smartphones {
          .border-radius(0);
          border: 1px solid;
          border-bottom: 0;
          margin:0;
          font-size: 0.75em;
        }

        &s {
            display: block;
            position: fixed;
            bottom: 4em;
            right: 4em;
            width: 25em;
            z-index: 5;

            @media @smartphones {
              right:0;
              bottom: 0;
              width: 100%;
            }
        }

        &-toolbar {
            float: right;
            margin: 0 0.2em;
            font-size: 2em;
            color: gray;
            cursor: pointer;
        }

        &:hover {
            .or-notice-toolbar {
                color: black;
            }
        }

        &--is-full {
            display: block;
            position: fixed;
            bottom: 10%;
            top: 10%;
            right: 10%;
            left: 10%;
            width: 80%;
            z-index: 6;

            .or-notice-log {
                display: block;
            }
        }


        &-error {

            div.text {
                font-weight: bold;
            }
        }

        &-text {
            font-size: 1.1em;
        }

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 1em solid transparent;
            border-right: 0;
            margin-top: -1em;
            margin-right: -1em;
        }

        &-log {
            display: none;
            position: relative;
            max-height: 90%;
            overflow: auto;
            font-family: 'Source Code Pro', Monospace, Monospaced, Courier;
        }
    }


}


