/* Usage to this variable is safe to be removed */
@color-overridden-by-theme: black;


html, body { width:100%; height:100%;}

@wide: ~"only screen and (min-width: 56rem)";

body {

    @media @wide {

        &:before {
            content: "";
            position: fixed;
            left: 0;
            right: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            display: block;
            //background-image is set in the theme
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}
.or-editor-toolbar {
  font-size: 1.5em;
}

.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
}


iframe {
  width: 100%;
  height: 500px;
  display: block;
}


/* Verweise */
a:link,
a:visited {
  font-weight: normal;
  text-decoration: none;
}

a:active,
a:hover {
  font-weight: normal;
  text-decoration: none;
}


.or-act-clickable {
  cursor: pointer;
}



/* Make Codemirror Auto-Resizable */
.CodeMirror {
  height: auto;
}




.or {
    &-search > .or-input {
        //padding-top: 1px;
        box-shadow: none !important;
        background-color: transparent !important;

    }

    /* After page loading, all elements are hidden. This class will be removed by javascript. */
    &--initial-hidden {
        opacity: 0;
        //transition: opacity ease-in-out;
    }

    &-view-flying-button {
        display: block;
        bottom: 1em;
        right: 1em;
        position: absolute;
    }

    &-linklist {
        display: flex;
        flex-direction: column;
        padding: 10% 20%;

        > .or-linklist-line {
            border:1px solid;
            margin-top:1em;
            padding:1em;
            .border-radius(0.5em);
        }
    }


    &-dirty {
        font-weight: bold;
    }

    &-droppable {

        &--active {

            background-color: #3c8b2e !important;
            cursor: move;
            z-index: 3;
        }

        &--hover {
            background-color: #08f169 !important;
            cursor: move;
            z-index: 3;
        }
    }


    &--invisible {
        visibility: hidden;
    }

    &--visible {
        visibility: visible;
    }
}






legend {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 0.5em; ;
}