/*   H e a d e r   */
#title {

    overflow: hidden;
    padding: 5px;
}


.or- {
    &dropdown {
        z-index: 120;
        min-width: 250px;
        position: absolute;
        padding: 5px 0px;

        font-style: normal;
        font-weight: normal;
        text-decoration: none;

        .or-entry {
            padding: 0;

            > a {
                display: flex;
                align-items: center;
                padding: 0 0.5em;

                * {
                    margin: 0.25em;
                }

                span:first-of-type {
                    flex: 1; /* Menü-Text füllt den Platz auf */
                }
            }

            /* Außenabstand Text */

            > .or-text {
                display: block;
                margin: 10px;
            }
        }

        .or-divide {
            height: 1px;
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}


.or- {
  &menu {

    display: flex;
    justify-content: space-between;

    .or-menu-group {
        display: flex;

        // Menüeinträge auf der rechten Seite rechtsbündig anzeigen.
        &:nth-last-child(1) {
            div.dropdown {
                right: 10px;
            }
        }
        .or-image-icon
        {
            width: 1.1em;
        }

        .or-toolbar-icon {
            padding: 2px;

            margin-left: 10px;
            float: left;

            /* Bestimmte Menüs sind nach rechts ausgerichet */
            &.or-user,
            &.or-search,
            &.or-history {
                float: right;
                margin-right: 10px;
                margin-left: 10px;
            }

            &.or-menu-category {
                cursor: default;
            }
            &.or-search {
                input {
                    border: 0;
                    margin: 0;
                    padding: 0;
                    width: 3em;
                    display: inline;
                    transition: width 0.3s ease-in-out;
                    &:focus {
                        width: 8em;

                    }
                }
            }

        }

    }

    /* Dropdown anzeigen, wenn Titel geöffnet und wenn mit Maus überstrichen */
    &--is-open {
        .or-menu-category--is-open {
            > .or-dropdown {
                display: block;
            }
        }
    }
  }

  &dropdown {
      display: none;

      &--is-open {
          display: block;
      }
  }

}