.or {
  &-search {
    &-result {
      display: none;
      position: absolute;
      width:100%;
      height:100%;
      top: 0;
      left: 0;
      padding: 1em;

      &-entry {
        padding-top:0.2em;
      }

      &--is-active {
        display: block;
      }
    }
  }
}