/* Usage to this variable is safe to be removed */
@color-overridden-by-theme: black;


html, body { width:100%; height:100%;}

.or-editor-toolbar {
  font-size: 1.5em;
}

.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
}
.box-shadow (@x, @y, @radius, @color) {
  -webkit-box-shadow: @x @y @radius @color;
  -moz-box-shadow: @x @y @radius @color;
  box-shadow: @x @y @radius @color;
}


iframe {
  width: 100%;
  height: 500px;
  display: block;
}


/* Verweise */
a:link,
a:visited {
  font-weight: normal;
  text-decoration: none;
}

a:active,
a:hover {
  font-weight: normal;
  text-decoration: none;
}


.or-act-clickable {
  cursor: pointer;
}



.or-search > .or-input {
  padding-top: 1px;
  .box-shadow(0,0,0, @color-overridden-by-theme) !important; // no shadow.
    background-color: transparent !important;

}


/* Make Codemirror Auto-Resizable */
.CodeMirror {
  height: auto;
}


/*
.or-info {

  position: relative;

  &:hover {
    .or-info-popup {
      display: block;
    }
  }

  &-popup {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: visible;
    //width: 100%;
    border: 0.5em;
    font-size: 2em;
    .border-radius(0.3em);
    padding: 1.0em;
    //text-align: center;
    z-index: 105;

    > div {
      display: inline-block;
    }
  }
}
*/


.or {
    /* After page loading, all elements are hidden. This class will be removed by javascript. */
    &-initial-hidden {
        display: none;
    }

    &-view-flying-button {
        display: block;
        bottom: 1em;
        right: 1em;
        position: absolute;
    }

    &-linklist {
        display: flex;
        flex-direction: column;
        padding: 10% 20%;

        > .or-linklist-line {
            border:1px solid;
            margin-top:1em;
            padding:1em;
            .border-radius(0.5em);
        }
    }


    &-dirty {
        font-weight: bold;
    }

    &-droppable {

        &--active {

            background-color: #2E8B57 !important;
            cursor: move;
        }

        &--hover {
            background-color: #00d95a !important;
            cursor: move;
        }
    }


    &--invisible {
        visibility: hidden;
    }

    &--visible {
        visibility: visible;
    }
}






legend {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 0.5em; ;
}