.or-collapsible {
  /* Offen */
}
.or-collapsible .or-collapsible-act-switch {
  cursor: pointer;
}
.or-collapsible .or-collapsible-value {
  max-height: 0;
  opacity: 0;
}
.or-collapsible .or-collapsible-title {
  padding-bottom: 0.1em;
}
.or-collapsible .or-collapsible--on-closed {
  display: inline;
}
.or-collapsible .or-collapsible--on-open {
  display: none;
}
.or-collapsible--is-open .or-collapsible--on-closed {
  display: none;
}
.or-collapsible--is-open .or-collapsible--on-open {
  display: inline;
}
.or-collapsible--is-open .or-collapsible-value {
  max-height: initial;
}
.or-collapsible--is-visible .or-collapsible-value {
  opacity: 1;
}

