@color-overridden-by-theme: black;

.border-radius (@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    -khtml-border-radius: @radius;
}

@small: ~"only screen and (max-width: 65rem)";

.or {

    &-form {
        display: flex;
        height: 100%;
        flex-direction: column;
        padding: 1em;

        &-headline {
            height: 2em;
        }

        &-content {
            flex-grow: 1;
            overflow-y: auto;

        }

        &-row {
            display: flex;
            align-items: center;

            .or-form-label {
                width: 25%;
            }

            .or-form-input {
                width: 75%;
            }


            @media @small {
                flex-direction: column;

                .or-form-label,
                .or-form-input {
                    width: 100%;
                }
            }
        }


        &-actionbar {

            height: 3em;
            position: sticky;
            bottom: 0;
            left: 0;
            right: 0;

            display: flex;
            justify-content: end;
            padding: 1em;
            height: auto;

        }



        @media @small {
            .or-act-form-apply {
                display: none;
            }

        }

    }


    &-input {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
        padding: 2px;
        margin: 0;

        &--name {
            font-weight: bold;
        }

        &--filename {
            font-family: 'Source Code Pro', Monospace, Monospaced, Courier;
        }


    }


    /* Buttons  */
    &-btn {
        padding: 1em 2em;
        margin-left: 1.5em;
        min-width: 14em;
        border: 1px solid @color-overridden-by-theme;

        @media @small {
            padding: 1em 1em;
            min-width: 5em;
        }

        &--primary {
            font-weight: bold;
        }

        &--secondary {
            @media @small {
                min-width: 0;
            }
        }

        .border-radius(0.5em);
        cursor: pointer;

    }
}