.or-image--rightshift {
  position: relative;
  left: 0.5em;
}
.or-image--preview {
  max-width: 100%;
  overflow: auto;
}
.or-image-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.or-image-icon--blank:after {
  content: "link";
  visibility: hidden;
}
.or-image-icon--action-el_text:after {
  content: "spellcheck";
}
.or-image-icon--action-el_longtext:after {
  content: "view_headline";
}
.or-image-icon--action-el_select:after {
  content: "list";
}
.or-image-icon--action-el_number:after {
  content: "looks_one";
}
.or-image-icon--action-el_link:after {
  content: "call_made";
}
.or-image-icon--action-el_date:after {
  content: "date_range";
}
.or-image-icon--action-el_insert:after {
  content: "keyboard_return";
}
.or-image-icon--action-el_copy:after {
  content: "flip_to_back";
}
.or-image-icon--action-el_linkinfo:after {
  content: "info";
}
.or-image-icon--action-el_linkdate:after {
  content: "info";
}
.or-image-icon--action-el_code:after {
  content: "code";
}
.or-image-icon--action-el_dynamic:after {
  content: "play_circle_outline";
}
.or-image-icon--action-el_info:after {
  content: "info";
}
.or-image-icon--action-el_infodate:after {
  content: "info";
}
.or-image-icon--action-el_checkbox:after {
  content: "check_box";
}
.or-image-icon--action-el_data:after {
  content: "receipt";
}
.or-image-icon--action-el_coord:after {
  content: "edit_location";
}
.or-image-icon--action-image:after {
  content: "image";
}
.or-image-icon--action-link:after {
  content: "call_made";
}
.or-image-icon--action-url:after {
  content: "link";
}
.or-image-icon--action-alias:after {
  content: "bookmark_border";
}
.or-image-icon--action-text:after {
  content: "text_format";
}
.or-image-icon--action-page:after {
  content: "insert_drive_file";
}
.or-image-icon--action-file:after {
  content: "save";
}
.or-image-icon--action-script:after {
  content: "code";
}
.or-image-icon--action-modellist:after {
  content: "device_hub";
}
.or-image-icon--action-model:after {
  content: "device_hub";
}
.or-image-icon--action-folder:after {
  content: "folder_open";
}
.or-image-icon--action-languagelist:after {
  content: "language";
}
.or-image-icon--action-language:after {
  content: "language";
}
.or-image-icon--action-template:after {
  content: "receipt";
}
.or-image-icon--action-templatelist:after {
  content: "receipt";
}
.or-image-icon--action-grouplist:after {
  content: "group";
}
.or-image-icon--action-group:after {
  content: "group";
}
.or-image-icon--action-userlist:after {
  content: "person";
}
.or-image-icon--action-user:after {
  content: "person";
}
.or-image-icon--action-profile:after {
  content: "person_pin";
}
.or-image-icon--action-configuration:after {
  content: "settings";
}
.or-image-icon--action-index:after {
  content: "home";
}
.or-image-icon--action-projectlist:after {
  content: "account_balance";
}
.or-image-icon--action-project:after {
  content: "account_balance";
}
.or-image-icon--action-taglist:after {
  content: "folder_open";
}
.or-image-icon--action-tag:after {
  content: "call_made";
}
.or-image-icon--action-macro:after {
  content: "data_usage";
}
.or-image-icon--action-membership {
  content: "card_membership";
}
.or-image-icon--method-delete:after {
  content: "delete";
}
.or-image-icon--method-prop:after {
  content: "description";
}
.or-image-icon--method-settings:after {
  content: "settings";
}
.or-image-icon--method-password:after {
  content: "lock";
}
.or-image-icon--method-publish:after {
  content: "cloud_upload";
}
.or-image-icon--method-show:after {
  content: "slideshow";
}
.or-image-icon--method-src:after {
  content: "code";
}
.or-image-icon--method-acl:after {
  content: "https";
}
.or-image-icon--method-rights:after {
  content: "https";
}
.or-image-icon--method-history:after {
  content: "schedule";
}
.or-image-icon--method-mail:after {
  content: "mail";
}
.or-image-icon--method-search:after {
  content: "search";
}
.or-image-icon--method-add:after {
  content: "add_box";
}
.or-image-icon--method-preview:after {
  content: "desktop_windows";
}
.or-image-icon--method-edit:after {
  content: "spellcheck";
}
.or-image-icon--method-info:after {
  content: "info";
}
.or-image-icon--method-restore:after {
  content: "restore";
}
.or-image-icon--method-release:after {
  content: "check_circle";
}
.or-image-icon--method-login:after {
  content: "person";
}
.or-image-icon--method-logout:after {
  content: "person_off";
}
.or-image-icon--permission-read:after {
  content: "search";
}
.or-image-icon--permission-write:after {
  content: "spellcheck";
}
.or-image-icon--permission-prop:after {
  content: "description";
}
.or-image-icon--permission-delete:after {
  content: "delete";
}
.or-image-icon--permission-create_link:after {
  content: "call_made";
}
.or-image-icon--permission-create_page:after {
  content: "add_box";
}
.or-image-icon--permission-create_file:after {
  content: "save";
}
.or-image-icon--permission-create_folder:after {
  content: "folder_open";
}
.or-image-icon--permission-grant:after {
  content: "https";
}
.or-image-icon--permission-transmit:after {
  content: "perm_data_setting";
}
.or-image-icon--permission-publish:after {
  content: "cloud_upload";
}
.or-image-icon--permission-release:after {
  content: "check_circle";
}
.or-image-icon--status-released:after {
  content: "verified_user";
}
.or-image-icon--status-active:after {
  content: "grade";
}
.or-image-icon--status-authenticated:after {
  content: "lock_outline";
}
.or-image-icon--status-guest:after {
  content: "lock_open";
}
.or-image-icon--input-checkbox:after {
  content: "check_box_outline_blank";
}
.or-image-icon--input-checkbox-checked:after {
  content: "check_box";
}
.or-image-icon--input-radio:after {
  content: "radio_button_unchecked";
}
.or-image-icon--input-radio-checked:after {
  content: "radio_button_checked";
}
.or-image-icon--menu-tree:after {
  content: "account_tree";
}
.or-image-icon--menu-close:after {
  content: "close";
}
.or-image-icon--menu-fullscreen:after {
  content: "fullscreen";
}
.or-image-icon--menu-edit:after {
  content: "description";
}
.or-image-icon--menu-extra:after {
  content: "build";
}
.or-image-icon--menu-menu:after {
  content: "menu";
}
.or-image-icon--menu-minimize:after {
  content: "compare_arrows";
}
.or-image-icon--menu-qrcode:after {
  content: "phone_android";
}
.or-image-icon--menu-up:after {
  content: "chevron_left";
}
.or-image-icon--menu-back:after {
  content: "arrow_back";
}
.or-image-icon--menu-more:after {
  content: "more_vert";
}
.or-image-icon--visible:after {
  content: "visibility";
}
.or-image-icon--node-open:after {
  content: "expand_more";
}
.or-image-icon--node-closed:after {
  content: "chevron_right";
}
.or-image-icon--dropdown:after {
  content: "arrow_drop_down";
}
.or-image-icon--database:after {
  content: "storage";
}
.or-image-icon--arrow-left:after {
  content: "chevron_left";
}
.or-image-icon--arrow-right:after {
  content: "chevron_right";
}
.or-image-icon--form-ok:after {
  content: "done";
}
.or-image-icon--form-apply:after {
  content: "done";
}
.or-image-icon--form-cancel:after {
  content: "clear";
}
.or-image-icon--editor-bold:after {
  content: "format_bold";
}
.or-image-icon--editor-italic:after {
  content: "format_italic";
}
.or-image-icon--editor-headline:after {
  content: "format_size";
}
.or-image-icon--editor-help:after {
  content: "help_outline";
}
.or-image-icon--editor-fullscreen:after {
  content: "fullscreen";
}
.or-image-icon--editor-quote:after {
  content: "format_quote";
}
.or-image-icon--editor-unnumberedlist:after {
  content: "format_list_bulleted";
}
.or-image-icon--editor-numberedlist:after {
  content: "format_list_numbered";
}
.or-image-icon--editor-preview:after {
  content: "desktop_windows";
}
.or-image-icon--editor-sidebyside:after {
  content: "flip";
}
.or-image-icon--editor-link:after {
  content: "link";
}
.or-image-icon--editor-image:after {
  content: "image";
}
.or-image-icon--editor-undo:after {
  content: "undo";
}
.or-image-icon--editor-redo:after {
  content: "redo";
}
.or-image-icon--editor-code:after {
  content: "code";
}
.or-image-icon--editor-horizontalrule:after {
  content: "remove";
}
.or-image-icon--editor-table:after {
  content: "view_comfy";
}
.or-userinfo {
  color: var(--cms-nav-title-text-color);
  width: 2em;
  height: 2em;
  line-height: 1.1em;
  border-radius: 50%;
  background-color: var(--cms-image-color);
  display: block;
  font-size: 0.5em;
  padding: 0.5em;
  text-align: center;
}

