.or-search--on-active {
  display: none;
}
.or-search--on-inactive {
  display: inline;
}
.or-search-input {
  border-bottom: 0.1em solid;
}
.or-search-input .or-input {
  border: 0;
  padding: 0;
  box-shadow: 0 0 0 !important;
  border-radius: 0;
  width: 8em;
}
.or-search--is-active .or-search--on-active {
  display: inline;
}
.or-search--is-active .or-search--on-inactive {
  display: none;
}
.or-search-result {
  display: none;
  padding: 1em;
}
.or-search-result-entry {
  padding-top: 0.2em;
}

