@color-overridden-by-theme: black;

.border-radius (@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    -khtml-border-radius: @radius;
}

@small: ~"only screen and (max-width: 65rem)";

.or {

    &-form {
        display: flex;
        height: 100%;
        flex-direction: column;
        padding: 1em;

        &-checkbox,
        &-radio {
          //transform: scale(1.5); // Increase size of checkboxes
          margin-right: 1em;
          appearance: none;
          width:1.5em;
          height: 1.5em;
          border: 1px solid;
          &::after {
            //content: "\2610";
            //font-size: 2em;
          }
          &:checked {
            &::after {
              //content: '\2714';
              //content: "\2705";
              //content: "\1F5F9";
              //font-size: 2em;
            }
          }
        }
        &-checkbox {
          border-radius: 2px;
        }
        &-radio {
          border-radius: 0.75em;
        }

        &-headline {
            height: 2em;
        }

        &-content {
            flex-grow: 1;
            padding-bottom: 6em;
            //overflow-y: auto;

        }

        &-row {
            display: flex;
            align-items: center;

            .or-form-label {
                width: 25%;
            }

            .or-form-input {
                width: 75%;
            }


            @media @small {
                flex-direction: column;

                .or-form-label,
                .or-form-input {
                    width: 100%;
                }
            }
        }


        &-actionbar {

            height: 3em;
            position: sticky;
            bottom: 0;
            left: 0;
            right: 0;

            display: flex;
            justify-content: end;
            padding: 1em;
            height: auto;

        }



        @media @small {
            .or-act-form-apply {
                display: none;
            }

        }

    }


    &-input {
        width: 85%;
        border: 0;
        border-width: 0;
        border-bottom: 1px solid;
        //border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
        padding: 0.5em;
        margin: 0;
        outline: none;

        &--name {
            font-weight: bold;
        }

        &--filename, &--extension {
            font-family: 'Source Code Pro', Monospace, Monospaced, Courier;
        }


    }


    /* Buttons  */
    &-btn {
        padding: 0.2em;
        border: 1px solid @color-overridden-by-theme;
        .border-radius(0.1em);
        cursor: pointer;

        &--control {
            padding: 1em 2em;
            margin-left: 1.5em;
            min-width: 14em;
            .border-radius(0.5em);

            @media @small {
                padding: 1em 1em;
                min-width: 5em;
            }
        }

        &--primary {
            font-weight: bold;
        }

        &--secondary {
            @media @small {
                min-width: 0;
            }
        }
    }
}