.or-button {
  z-index: 4;
}
.or-button-knob {
  margin: 0.5em;
}
.or-button--is-active .or-button-value,
.or-button--active-on-hover:hover .or-button-value {
  display: initial;
}
.or-button-value {
  display: none;
  position: absolute;
  right: 1em;
}

