/* Importing component-specific CSS */
.editor__text-editor {
  width: 100%;
  height: 300px;
}
/* ACE-Editor */
textarea.editor__code-editor {
  display: none;
  /* Textarea nicht anzeigen, da durch Editor im DIV ersetzt */
}
div.editor__code-editor {
  position: absolute;
  height: 500px;
  width: 100%;
  font-size: 14px;
  z-index: 256;
}
textarea.editor__text-editor,
textarea.editor__wiki-editor,
textarea.editor__html-editor {
  width: 100%;
}
a.editorlink:active,
a.editorlink:hover {
  font-weight: normal;
  text-decoration: none;
}
a.editorlink:link,
a.editorlink:visited {
  font-weight: normal;
  text-decoration: none;
}
.or-table {
  overflow: auto;
  border: 2px;
  width: 100%;
  table-layout: fixed;
  /* Hilfe-Texte */
}
.or-table-column-date {
  width: 12em;
}
.or-table-column-user {
  width: 7em;
}
.or-table-column-action {
  width: 5em;
}
.or-table-column-auto {
  width: auto;
  max-width: 0;
}
.or-table-area {
  /* Responsive Tables */
}
@media screen and (max-width: 40em) {
  .or-table-area {
    overflow-x: auto;
  }
}
.or-table-filter {
  width: 100%;
  text-align: right;
}
.or-table-filter-input {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  padding: 0.3em;
  margin: 0 1em;
  border: 1px solid #000000;
  width: 7.5em;
}
.or-table tr.or-headline > td,
.or-table tr {
  padding: 0.3em;
}
.or-table tr.or-headline > td .or-row--on-hover,
.or-table tr .or-row--on-hover {
  visibility: hidden;
}
@media only screen and (max-width: 55rem) {
  .or-table tr.or-headline > td .or-row--on-hover,
  .or-table tr .or-row--on-hover {
    visibility: visible;
  }
}
.or-table tr.or-headline > td:hover .or-row--on-hover,
.or-table tr:hover .or-row--on-hover {
  visibility: visible;
}
.or-table tr > th {
  padding: 3px;
  font-weight: bold;
}
.or-table tr > th.or-sort-asc > span:last-child:after {
  content: " \2193";
}
.or-table tr > th.or-sort-desc > span:last-child:after {
  content: " \2191";
}
.or-table tr.or-data > td {
  padding: 3px;
}
.or-table tr > td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.or-table td.or-readonly {
  font-style: italic;
  font-weight: normal;
}
.or-table td.or-default {
  font-style: normal;
  font-weight: normal;
}
.or-table td.or-changed {
  font-style: normal;
  font-weight: bold;
}
.or-table td:hover > div.or-onrowvisible {
  visibility: visible;
}
.or-table tr td.or-help {
  font-style: italic;
}
.or-table tr.or-headline td.or-help {
  /*
            border-bottom:1px solid @color-overridden-by-theme;
            */
  font-style: normal;
}
.or-table-sort-value {
  display: none;
}
div.or-dropzone-upload {
  width: 100%;
  height: 100px;
  border: 1px dotted;
}
.or-group {
  margin: 1em 0 4em;
}
.or-group-title {
  margin: 0.5em 0;
  font-size: 1.1em;
  font-weight: normal;
}
.or-group-value {
  border: 1px solid;
  border-radius: 0.4em;
  padding: 1em;
}

