@smartphones: ~"only screen and (max-width: 55rem)";

.or {
    &-button {

        //display: none;
        //overflow: hidden;

        &--is-active {
            .or-button-value {
              display: initial;
            }

        }

        &-value {
          display: none;
        }

        z-index: 4;
    }
}
