.or-selector-tree {
  display: none;
}
.or-selector-search {
  display: none;
}
.or-selector--is-tree-active .or-selector-tree {
  display: block;
}
.or-selector--is-search-active .or-selector-search {
  display: block;
}

