/* Usage to this variable is safe to be removed */
@color-overridden-by-theme: black;

iframe {
  width: 100%;
  height: 500px;
  display: block;
}

div.breadcrumb,
div.breadcrumb a,
div.panel > div.title {
  font-weight: bold;
}

/*   N o t i c e   */
div#noticebar {
  display: block;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 250px;
  z-index: 113;

  div.notice {
    border: 2px solid @color-overridden-by-theme;

    padding: 5px;
    margin: 5px;

    display: none;
  }
  div.notice.error div.text {
    font-weight: bold;
  }
  div.log {
    font-family: monospace;
  }
}

div.onrowvisible {
  visibility: hidden;
  display: inline;
}

/* Vorschau von Text-Inhalten */
.preview {
  h1 {
    font-size: 138.5%;
  }
  h2 {
    font-size: 123.1%;
  }

  h3 {
    font-size: 108%;
  }

  h1, h2, h3 {
    margin: 1em 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    font-weight: bold;
  }

  abbr, .preview acronym {
    border-bottom: 1px dotted #000;
    cursor: help;
  }

  em {
    font-style: italic;
  }

  ol, ul, dl {
    margin-left: 2em;
  }

  ol li {
    list-style: decimal outside;
  }

  ul li {
    list-style: disc outside;
  }

  a:link,
  a:visited,
  a:active,
  a:hover {
    text-decoration: underline;
  }
}

/* Verweise */
a:link,
a:visited {
  font-weight: normal;
  text-decoration: none;
}

a:active,
a:hover {
  font-weight: normal;
  text-decoration: none;
}

/* Icon-Innenabstand */
img[align=left],
img[align=right] {
  padding-right: 1px;
  padding-left: 1px;
}

/* Vorformatierter Text */
pre {
  font-family: Courier;
  font-size: 13px;
}

/* Lizenzhinweis  */
a.copyright {
  font-size: 0.7em;
  text-decoration: none;
}

div.logo h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 24px;
}

div.logo p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
}

label,
.clickable {
  cursor: pointer;
}

/* Drag and Drop */

.drophover {
  border: 2px dotted green;
  cursor: move;
}

.dropactive {
  border: 1px dotted blue;
  cursor: move;
}

/*   T a b s   */

img.icon {
  padding: 4px;
  width: 16px;
  height: 16px;
}

div.panel ul.views li {
  vertical-align: middle;
  padding: 0px;

  cursor: pointer;

  border-right: 1px solid @color-overridden-by-theme;

  -moz-border-radius-topleft: 5px; /* Mozilla */
  -webkit-border-radius-topleft: 5px; /* Webkit */
  -khtml-border-top-radius-topleft: 5px; /* Konqui */
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px; /* Mozilla */
  -webkit-border-radius-topright: 5px; /* Webkit */
  -khtml-border-top-radius-topright: 5px; /* Konqui */
  border-top-right-radius: 5px;

  display: inline;
  white-space: nowrap;
  float: left;
}

div.panel {
  margin: 0px;
  padding: 0px;
}

/* T a b l e s */
table {
  overflow: auto;
  border: 2px;

  tr.headline > td {

    padding: 3px;
    font-weight: bold;
  }

  tr.data > td {
    padding: 3px;
  }

  td.readonly {
    font-style: italic;
    font-weight: normal;
  }
  td.default {
    font-style: normal;
    font-weight: normal;
  }
  td.changed {
    font-style: normal;
    font-weight: bold;
  }
  /* Notizen */
  td.notice {
    margin: 0px;
    padding: 5%;
    text-align: center;
  }

  &.notice {
    width: 100%;
    border: 1px solid;
    border-spacing: 0px;
    th {
      padding: 2px;
      white-space: nowrap;
      border-bottom: 1px solid @color-overridden-by-theme;
      font-weight: normal;
      text-align: left;
    }

    tr.error {
    }

    tr.warning {
      margin: 0px;
      padding: 0px;
    }
  }

  /* Kalender */
  &.calendar {
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;

    td {
      border: 1px dotted;
    }
  }

  /* Notizen */
  td.notice {
    margin: 0px;
    padding: 5%;
    text-align: center;
  }

  &.notice {
    width: 100%;
    border: 1px solid;
    border-spacing: 0px;
  }

  &.notice th {
    padding: 2px;
    white-space: nowrap;
    border-bottom: 1px solid @color-overridden-by-theme;
    font-weight: normal;
    text-align: left;
  }

  &.notice tr.error {
  }

  &.notice tr.warning {
    margin: 0px;
    padding: 0px;
  }

  /* Kalender */
  &.calendar {
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
  }

  &.calendar td {
    border: 1px dotted;
  }
  /* Message of the day */
  td.motd {
    border-left: 3px solid red;
    border-right: 3px solid red;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
  }
  td:hover > div.onrowvisible {
    visibility: visible;
  }

  /* D i f f  */
  tr.diff {
    > td.line {
      background-color: @color-overridden-by-theme;
      padding-right: 2px;
      border-right: 3px solid @color-overridden-by-theme;
      text-align: right;
      margin-right: 2px;
    }

    /* Unveränderter Text */
    > td.equal {
    }

    /* Entfernter Text */
    > td.old {
      background-color: red;
    }

    /* Hinzugefuegter Text */
    td.new {
      background-color: green;
    }

    /* Geaenderter Text */
    td.notequal {
      background-color: yellow;
    }
  }

  /* Hilfe-Texte */
  tr td.help {
    font-style: italic;
  }

  tr.headline td.help {
    /*
    border-bottom:1px solid @color-overridden-by-theme;
    */
    font-style: normal;

  }

  /* Logo */
  td.logo {
    padding: 10px;
    margin: 0px;
  }


  /* Responsive Tables */
  @media screen and (max-width: 40em) {

    tr.headline {
      display: none;
    }
    tr > td {
      display: block;
    }

  }


}

/*   S t a t u s z e i l e   */
div.panel div.status {
  padding: 10px;
}

div.panel div.status div.error,
div.message.error {
  background: url(../images/notice_error.png) no-repeat;
  background-position: 5px 7px;
}

div.panel div.status div.warn,
div.message.warn {
  background: url(../images/notice_warning.png) no-repeat;
  background-position: 5px 7px;
}

div.panel div.status div.ok,
div.message.ok {
  background: url(../images/notice_ok.png) no-repeat;
  background-position: 5px 7px;
}

div.panel div.status div.info,
div.message.info {
  background: url(../images/notice_info.png) no-repeat;
  background-position: 5px 7px;
}

div.panel div.status div,
div.message {
  border: 1px solid @color-overridden-by-theme;
  padding: 5px 0px 5px 25px;
  margin: 10px 10px 20px 10px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* Fortschrittsbalken */
div.loader,
div.progress {
  background: url(../images/loader.gif) no-repeat;
  background-position: center;
  opacity: 0.5;
  cursor: wait;
  min-height: 50px;
}

#workbench {
  div.panel.fullscreen {
    display: block;
    z-index: 109;
    position: fixed;
    top: 0;
    left: 0;
    background-color: @color-overridden-by-theme;
    margin: 0px;
    width: 100% ! important;
    height: 100% ! important;
  }

  div.panel.fullscreen > div.content {
    width: 100% ! important;
    height: 100% ! important;
  }

  div.panel {
    border: 1px solid @color-overridden-by-theme;
    margin: 0px;
    padding: 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
  }

  div.container, div.panel, div.divider {
    display: inline;
    float: left;
    margin: 0px;
  }

  div.panel > div.content {
    overflow: auto;
  }
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/*
 * Formular-Button-Leiste
 */
div.panel {
  position: relative;
}

div.content div.bottom {
  height: 55px;
  width: 100%;
  position: absolute;
  padding-right: 40px;
  bottom: 0px;
  right: 0px;
  xvisibility: hidden;
}

div.content div.bottom > div.command {
  xvisibility: visible;
  float: right;
  z-index: 20;
}

div.content form[data-autosave='true'] div.command {
  display: none;
}

div.content > form {
  padding-bottom: 45px;
}

/* Smaller screens */

@media only screen and (max-width: 1023px) {

  body {
    font-size: 0.8em;
    line-height: 1.5em;
  }

}

/* Mobile */

@media handheld, only screen and (max-width: 767px) {

  body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
    overflow: visible;
  }

  #title,
  #workbench {
    width: 100%;
    height: auto;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #workbench div.panel {
    width: auto !important;
  }

  li.action div.tabname {
    width: auto !important;
  }

  #workbench div.panel {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #workbench div.panel > div.content {
    overflow: auto;
    height: auto !important;
  }

}



/* R e s p o n s i v e   f o r m s */
form {
  input[type=checkbox] + label,
  input[type=radio] + label {
    width: 80%;
  }

  label div.description {
    font-size: 0.75em;
  }

  div.inputholder > div.dropdown {
    width: 70%;
  }

  input.submit {
    padding: 7px;
    border: 0px;
    -moz-border-radius: 7px; /* Mozilla */
    -webkit-border-radius: 7px; /* Webkit */
    -khtml-border-radius: 7px; /* Konqui */
    border-radius: 7px;
    margin-left: 20px;
    cursor: pointer;
  }

  input.submit.ok {
    font-weight: bold; /* Primäre Aktion in Fettdruck */
  }



  padding: 20px;
  /* Style inputs, select elements and textareas */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  /* Style the submit button */
  input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  /* Floating column for labels: 25% width */
  div.label {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  /* Floating column for inputs: 75% width */
  div.input {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  /* Clear floats after the columns */
  .line:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 40em) {
    div.label, div.input, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

  }
}

div.search > div.inputholder {
  padding-top: 1px;
}

div.inputholder > input,
div.inputholder > textarea,
div.inputholder > select {
  padding: 2px;
  margin: 0px;
}

/* Eingabfeld fuer Namen */
fieldset > div input.name,
fieldset > div span.name {
  font-weight: bold;
}

/* Eingabfelder fuer Dateiname */
fieldset > div input.filename,
fieldset > div input.extension,
fieldset > div input.ansidate,
fieldset > div span.filename,
fieldset > div span.extension,
fieldset > div span.ansidate {
  font-family: Courier;
  font-size: 1em;
}

dl.notice {
  padding: 15px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
}

div.content pre,
div.dropdown {
  background-color: @color-overridden-by-theme;
  color: @color-overridden-by-theme;
  min-width: 150px;
  max-width: 450px;
}

div.filler div.headermenu > a.entry,
div.filler div.header a.back.button {
  font-size: 0.8em;
}

img.image-icon {
  visibility: hidden;
}

/* Make Codemirror Auto-Resizable */
.CodeMirror {
  height: auto;
}