/*   H e a d e r   */
#title {
	overflow: hidden;
	padding: 5px;
}
.or-menu {
	display: flex;
	justify-content: space-between;
	/* Dropdown anzeigen, wenn Titel geöffnet und wenn mit Maus überstrichen */
}
.or-menu .or-menu-group {
	display: flex;
	/* Pfeile */
}
.or-menu .or-menu-group:nth-last-child(1) div.dropdown {
	right: 10px;
}
.or-menu .or-menu-group i.image-icon {
	width: 1.1em;
}
.or-menu .or-menu-group div > div.arrow-down {
	width: 0;
	height: 0;
	margin: 6px;
	padding: 0px;
	margin-top: 10px;
}
.or-menu .or-menu-group div.toolbar-icon {
	padding: 2px;
	margin-left: 10px;
	float: left;
	/* Bestimmte Menüs sind nach rechts ausgerichet */
	/*   D r o p d o w n  -  M e n u e s  */
}
.or-menu .or-menu-group div.toolbar-icon.user,
.or-menu .or-menu-group div.toolbar-icon.search,
.or-menu .or-menu-group div.toolbar-icon.history {
	float: right;
	margin-right: 10px;
	margin-left: 10px;
}
.or-menu .or-menu-group div.toolbar-icon.menu {
	cursor: default;
}
.or-menu .or-menu-group div.toolbar-icon.search .inputholder {
	margin: 0;
	padding: 0;
	border: 0;
	display: inline;
}
.or-menu .or-menu-group div.toolbar-icon.search .inputholder input {
	border: 0;
	margin: 0;
	padding: 0;
	width: 3em;
	display: inline;
	transition: width 0.3s ease-in-out;
}
.or-menu .or-menu-group div.toolbar-icon.search .inputholder input:focus {
	width: 8em;
}
.or-menu .or-menu-group div.toolbar-icon div.dropdown {
	z-index: 95;
	min-width: 250px;
	display: none;
	position: absolute;
	padding: 5px 0px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
.or-menu .or-menu-group div.toolbar-icon div.dropdown div.entry {
	padding: 0;
	/* Außenabstand Text */
}
.or-menu .or-menu-group div.toolbar-icon div.dropdown div.entry > a {
	display: flex;
	align-items: center;
	padding: 0 0.5em;
}
.or-menu .or-menu-group div.toolbar-icon div.dropdown div.entry > a * {
	margin: 0.25em;
}
.or-menu .or-menu-group div.toolbar-icon div.dropdown div.entry > a span:first-of-type {
	flex: 1;
	/* Menü-Text füllt den Platz auf */
}
.or-menu .or-menu-group div.toolbar-icon div.dropdown div.entry > .text {
	display: block;
	margin: 10px;
}
.or-menu .or-menu-group div.toolbar-icon div.dropdown div.divide {
	height: 1px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.or-menu.open .toolbar-icon.open > div.dropdown {
	display: block;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22openrat-header.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22%3BAACA%3BCAEI%3BCACA%3B%3BAAGJ%3BCAEI%3BCACA%3B%3B%3BAAHJ%2CQAKI%3BCACI%3B%3B%3BAAGA%2CQAJJ%2CeAIK%2CeAAe%2CGACZ%2CIAAG%3BCACC%3B%3BAAXhB%2CQAKI%2CeASI%2CEAAC%3BCAEG%3B%3BAAhBZ%2CQAKI%2CeAcI%2CIAAM%2CMAAG%3BCACL%3BCACA%3BCACA%3BCACA%3BCACA%3B%3BAAxBZ%2CQAKI%2CeAsBI%2CIAAG%3BCACC%3BCAEA%3BCACA%3B%3B%3B%3BAAGA%2CQA7BR%2CeAsBI%2CIAAG%2CaAOE%3BAACD%2CQA9BR%2CeAsBI%2CIAAG%2CaAQE%3BAACD%2CQA%5C%2FBR%2CeAsBI%2CIAAG%2CaASE%3BCACG%3BCACA%3BCACA%3B%3BAAGJ%2CQArCR%2CeAsBI%2CIAAG%2CaAeE%3BCACG%3B%3BAAEJ%2CQAxCR%2CeAsBI%2CIAAG%2CaAkBE%2COACG%3BCACI%3BCACA%3BCACA%3BCACA%3B%3BAALR%2CQAxCR%2CeAsBI%2CIAAG%2CaAkBE%2COACG%2CaAMI%3BCACI%3BCACA%3BCACA%3BCACA%3BCACA%3BCACA%2CkCAAA%3B%3BAACA%2CQAtDpB%2CeAsBI%2CIAAG%2CaAkBE%2COACG%2CaAMI%2CMAOK%3BCACG%3B%3BAA5D5B%2CQAKI%2CeAsBI%2CIAAG%2CaA2CC%2CIAAG%3BCACC%3BCACA%3BCACA%3BCACA%3BCACA%2CgBAAA%3BCAEA%3BCACA%3BCACA%3B%3BAA%5C%2FEhB%2CQAKI%2CeAsBI%2CIAAG%2CaA2CC%2CIAAG%2CSAWC%2CIAAG%3BCACC%3B%3B%3BAAlFpB%2CQAKI%2CeAsBI%2CIAAG%2CaA2CC%2CIAAG%2CSAWC%2CIAAG%2CMAGG%3BCACE%3BCACA%3BCACA%2CgBAAA%3B%3BAAvFxB%2CQAKI%2CeAsBI%2CIAAG%2CaA2CC%2CIAAG%2CSAWC%2CIAAG%2CMAGG%2CIAKE%3BCACI%3B%3BAA1F5B%2CQAKI%2CeAsBI%2CIAAG%2CaA2CC%2CIAAG%2CSAWC%2CIAAG%2CMAGG%2CIASE%2CKAAI%3BCACA%3B%3B%3BAA9F5B%2CQAKI%2CeAsBI%2CIAAG%2CaA2CC%2CIAAG%2CSAWC%2CIAAG%2CMAkBG%3BCACE%3BCACA%3B%3BAArGxB%2CQAKI%2CeAsBI%2CIAAG%2CaA2CC%2CIAAG%2CSAmCC%2CIAAG%3BCACC%3BCACA%3BCACA%3BCACA%3B%3BAAShB%2CQAAC%2CKACG%2CcAAa%2CKACP%2CMAAG%3BCACD%22%7D */