/*   H e a d e r   */
#title {
  width: 100%;
  height: 27px;
  overflow: hidden;
  padding: 5px;
  margin: 0px;
  margin-bottom: 3px;
  float: left;

  div.projects,
  div.menu,
  div.title {
    float: left;
    margin-right: 10px;
    margin-left: 0px;
  }

  div.user,
  div.search,
  div.history {
    float: right;
    margin-right: 10px;
    margin-left: 10px;
  }

  > div.menu {
    overflow: hidden;
  }

  /* Dropdown anzeigen  */
  &.open div.menu.open div.dropdown,
  div.panel div:hover > div.dropdown,
  div.panel-icon:hover > div.dropdown {
    display: block;
  }

  div.search input {
    margin: 0px;
    padding: 0px;
  }

  /* Pfeile */
  > div > div.arrow-down {
    display: inline;
    width: 0;
    height: 0;
    margin: 6;
    padding: 0px;
    margin-top: 10px;
    font-size: 0;
  }

  /*   D r o p d o w n  -  M e n u e s  */
  div.dropdownalignright {
    right: 0;
  }
  div.dropdown {
    z-index: 2;
    display: none;
    position: absolute;
    padding: 5px 0px;

    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    > a {
      display: block;
    }
    div.entry {
      padding: 2px 5px;
    }

    div.divide {
      height: 1px;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
    }

  }

  div.toolbar-icon {
    padding: 2px;
    margin-left: 5px;
    float: left;
  }

  div.headermenu {
    margin: 5px;
    z-index: 1;
    position: relative;
    right: 0;
    top: 0;
  }
  div.headermenu > div.toolbar-icon {
    float: right;
  }

}