/* Usage to this variable is safe to be removed */
/* oxygen-regular - latin */
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 400;
	src: local('Oxygen Regular'), local('Oxygen-Regular'), url('../font/oxygen-v7-latin-regular.woff') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../font/oxygen-v7-latin-regular.woff') format('woff');
	
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-code-pro-regular - latin */
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Code Pro'), local('SourceCodePro-Regular'), url('../font/source-code-pro-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../font/source-code-pro-v8-latin-regular.woff') format('woff');
	
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url('../font/MaterialIcons-Regular.woff2') format('woff2'), url('../font/MaterialIcons-Regular.woff') format('woff');
}
.image-icon {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	/* Support for Safari and Chrome. */
	/* Support for Firefox. */
	/* Support for IE. */
	font-feature-settings: 'liga';
}
.image-icon.image-icon--action-el_text:after {
	content: "spellcheck";
}
.image-icon.image-icon--action-el_longtext:after {
	content: "view_headline";
}
.image-icon.image-icon--action-el_select:after {
	content: "list";
}
.image-icon.image-icon--action-el_number:after {
	content: "looks_one";
}
.image-icon.image-icon--action-el_link:after {
	content: "call_made";
}
.image-icon.image-icon--action-el_date:after {
	content: "date_range";
}
.image-icon.image-icon--action-el_insert:after {
	content: "keyboard_return";
}
.image-icon.image-icon--action-el_copy:after {
	content: "flip_to_back";
}
.image-icon.image-icon--action-el_linkinfo:after {
	content: "info";
}
.image-icon.image-icon--action-el_linkdate:after {
	content: "info";
}
.image-icon.image-icon--action-el_code:after {
	content: "code";
}
.image-icon.image-icon--action-el_dynamic:after {
	content: "play_circle_outline";
}
.image-icon.image-icon--action-el_info:after {
	content: "info";
}
.image-icon.image-icon--action-el_infodate:after {
	content: "info";
}
.image-icon.image-icon--action-el_checkbox:after {
	content: "check_box";
}
.image-icon.image-icon--action-image:after {
	content: "image";
}
.image-icon.image-icon--action-link:after {
	content: "call_made";
}
.image-icon.image-icon--action-url:after {
	content: "link";
}
.image-icon.image-icon--action-alias:after {
	content: "bookmark_border";
}
.image-icon.image-icon--action-text:after {
	content: "text_format";
}
.image-icon.image-icon--action-page:after {
	content: "insert_drive_file";
}
.image-icon.image-icon--action-file:after {
	content: "save";
}
.image-icon.image-icon--action-modellist:after {
	content: "device_hub";
}
.image-icon.image-icon--action-model:after {
	content: "device_hub";
}
.image-icon.image-icon--action-folder:after {
	content: "folder_open";
}
.image-icon.image-icon--action-languagelist:after {
	content: "language";
}
.image-icon.image-icon--action-language:after {
	content: "language";
}
.image-icon.image-icon--action-template:after {
	content: "receipt";
}
.image-icon.image-icon--action-templatelist:after {
	content: "receipt";
}
.image-icon.image-icon--action-groupllist:after {
	content: "group";
}
.image-icon.image-icon--action-group:after {
	content: "group";
}
.image-icon.image-icon--action-userlist:after {
	content: "person";
}
.image-icon.image-icon--action-user:after {
	content: "person";
}
.image-icon.image-icon--action-profile:after {
	content: "person_pin";
}
.image-icon.image-icon--method-settings:after {
	content: "settings";
}
.image-icon.image-icon--action-configuration:after {
	content: "settings";
}
.image-icon.image-icon--action-projectlist:after {
	content: "list";
}
.image-icon.image-icon--action-project:after {
	content: "account_balance";
}
.image-icon.image-icon--action-macro:after {
	content: "data_usage";
}
.image-icon.image-icon--action-membership {
	content: "card_membership";
}
.image-icon.image-icon--method-password:after {
	content: "lock";
}
.image-icon.image-icon--method-publish:after {
	content: "cloud_upload";
}
.image-icon.image-icon--method-show:after {
	content: "slideshow";
}
.image-icon.image-icon--method-src:after {
	content: "code";
}
.image-icon.image-icon--method-acl:after {
	content: "https";
}
.image-icon.image-icon--method-rights:after {
	content: "https";
}
.image-icon.image-icon--method-archive:after {
	content: "schedule";
}
.image-icon.image-icon--method-mail:after {
	content: "mail";
}
.image-icon.image-icon--method-search:after {
	content: "search";
}
.image-icon.image-icon--method-add:after {
	content: "add_box";
}
.image-icon.image-icon--menu-close:after {
	content: "close";
}
.image-icon.image-icon--menu-fullscreen:after {
	content: "fullscreen";
}
.image-icon.image-icon--menu-edit:after {
	content: "description";
}
.image-icon.image-icon--menu-extra:after {
	content: "build";
}
.image-icon.image-icon--menu-menu:after {
	content: "menu";
}
.image-icon.image-icon--menu-minimize:after {
	content: "compare_arrows";
}
.image-icon.image-icon--menu-qrcode:after {
	content: "phone_android";
}
.image-icon.image-icon--node-open:after {
	content: "expand_more";
}
.image-icon.image-icon--node-closed:after {
	content: "chevron_right";
}
.image-icon.image-icon--form-ok:after {
	content: "done";
}
.image-icon.image-icon--form-cancel:after {
	content: "clear";
}
.image-icon.image-icon--editor-bold:after {
	content: "format_bold";
}
.image-icon.image-icon--editor-italic:after {
	content: "format_italic";
}
.image-icon.image-icon--editor-headline:after {
	content: "format_size";
}
.image-icon.image-icon--editor-help:after {
	content: "help_outline";
}
.image-icon.image-icon--editor-fullscreen:after {
	content: "fullscreen";
}
.image-icon.image-icon--editor-quote:after {
	content: "format_quote";
}
.image-icon.image-icon--editor-unnumberedlist:after {
	content: "format_list_bulleted";
}
.image-icon.image-icon--editor-numberedlist:after {
	content: "format_list_numbered";
}
.image-icon.image-icon--editor-preview:after {
	content: "desktop_windows";
}
.image-icon.image-icon--editor-sidebyside:after {
	content: "flip";
}
.image-icon.image-icon--editor-link:after {
	content: "link";
}
.image-icon.image-icon--editor-image:after {
	content: "image";
}
.image-icon.image-icon--editor-undo:after {
	content: "undo";
}
.image-icon.image-icon--editor-redo:after {
	content: "redo";
}
.image-icon.image-icon--editor-code:after {
	content: "code";
}
.image-icon.image-icon--editor-horizontalrule:after {
	content: "remove";
}
.image-icon.image-icon--editor-table:after {
	content: "view_comfy";
}
.editor-toolbar {
	font-size: 1.5em;
}
iframe {
	width: 100%;
	height: 500px;
	display: block;
}
div.breadcrumb,
div.breadcrumb a,
div.panel > div.title {
	font-weight: bold;
}
div#noticebar {
	display: block;
	position: fixed;
	bottom: 40px;
	/*top: 40px;*/
	right: 40px;
	width: 25em;
	z-index: 113;
}
div#noticebar div.notice {
	border: 2px solid #000000;
	padding: 1.1em;
	margin: 5px;
	position: relative;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-box-shadow: 3px 2px 5px #000000;
	-moz-box-shadow: 3px 2px 5px #000000;
	box-shadow: 3px 2px 5px #000000;
}
div#noticebar div.notice .or-notice-toolbar {
	float: right;
	margin: 0 0.2em;
	font-size: 2em;
	color: gray;
	cursor: pointer;
}
div#noticebar div.notice:hover .or-notice-toolbar {
	color: black;
}
div#noticebar div.notice.full {
	display: block;
	position: fixed;
	bottom: 10%;
	top: 10%;
	right: 10%;
	left: 10%;
	width: 80%;
	z-index: 114;
}
div#noticebar div.notice.error div.text {
	font-weight: bold;
}
div#noticebar div.notice div.text {
	font-size: 1.1em;
}
div#noticebar div.notice:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 1em solid transparent;
	border-right: 0;
	margin-top: -1em;
	margin-right: -1em;
}
div#noticebar div.notice div.log {
	display: none;
	position: relative;
	max-height: 90%;
	overflow: auto;
	font-family: 'Source Code Pro', Monospace, Monospaced, Courier;
}
div#noticebar div.notice.full div.log {
	display: block;
}
div.onrowvisible {
	visibility: hidden;
	display: inline;
}
/* Vorschau von Text-Inhalten */
/* Verweise */
a:link,
a:visited {
	font-weight: normal;
	text-decoration: none;
}
a:active,
a:hover {
	font-weight: normal;
	text-decoration: none;
}
/* Icon-Innenabstand */
img[align=left],
img[align=right] {
	padding-right: 1px;
	padding-left: 1px;
}
/* Vorformatierter Text */
/* Lizenzhinweis  */
div.logo h2 {
	font-weight: normal;
	font-size: 24px;
}
div.logo p {
	font-size: 13px;
}
label,
.clickable {
	cursor: pointer;
}
/* Drag and Drop */
.or-droppable--active {
	background-color: #2E8B57 !important;
	cursor: move;
}
.or-droppable--hover {
	background-color: #00d95a !important;
	cursor: move;
}
/*   T a b s   */
img.icon {
	padding: 4px;
	width: 16px;
	height: 16px;
}
div.panel ul.views li {
	vertical-align: middle;
	padding: 0px;
	cursor: pointer;
	border-right: 1px solid #000000;
	-moz-border-radius-topleft: 5px;
	/* Mozilla */
	-webkit-border-radius-topleft: 5px;
	/* Webkit */
	-khtml-border-top-radius-topleft: 5px;
	/* Konqui */
	-moz-border-radius-topright: 5px;
	/* Mozilla */
	-webkit-border-radius-topright: 5px;
	/* Webkit */
	-khtml-border-top-radius-topright: 5px;
	/* Konqui */
	border-top-right-radius: 5px;
	display: inline;
	white-space: nowrap;
	float: left;
}
div.panel {
	margin: 0px;
	padding: 0px;
}
/*   S t a t u s z e i l e   */
div.panel div.status {
	padding: 10px;
}
div.panel div.status div.error,
div.message.error {
	background: url(../images/notice_error.png) no-repeat;
	background-position: 5px 7px;
}
div.panel div.status div.warn,
div.message.warn {
	background: url(../images/notice_warning.png) no-repeat;
	background-position: 5px 7px;
}
div.panel div.status div.ok,
div.message.ok {
	background: url(../images/notice_ok.png) no-repeat;
	background-position: 5px 7px;
}
div.panel div.status div.info,
div.message.info {
	background: url(../images/notice_info.png) no-repeat;
	background-position: 5px 7px;
}
div.panel div.status div,
div.message {
	border: 1px solid #000000;
	padding: 5px 0px 5px 25px;
	margin: 10px 10px 20px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
#workbench div.panel.fullscreen {
	display: block;
	z-index: 109;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000000;
	margin: 0px;
	width: 100% !important;
	height: 100% !important;
}
#workbench div.panel.fullscreen > div.content {
	width: 100% !important;
	height: 100% !important;
}
#workbench div.panel {
	border: 1px solid #000000;
	margin: 0px;
	padding: 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
#workbench div.container,
#workbench div.panel,
#workbench div.divider {
	display: inline;
	float: left;
	margin: 0px;
}
#workbench div.panel > div.content {
	overflow: auto;
}
.invisible {
	visibility: hidden;
}
.visible {
	visibility: visible;
}
/*
 * Formular-Button-Leiste
 */
div.panel {
	position: relative;
}
div.content div.bottom {
	height: 55px;
	width: 100%;
	position: absolute;
	padding-right: 40px;
	bottom: 0px;
	right: 0px;
	xvisibility: hidden;
}
div.content div.bottom > div.command {
	xvisibility: visible;
	float: right;
	z-index: 20;
}
div.content form[data-autosave='true'] div.command {
	display: none;
}
div.content > form {
	padding-bottom: 45px;
}
main .or-form .or-form-actionbar {
	display: none;
}
/* R e s p o n s i v e   f o r m s */
.or-form {
	padding: 1em;
	/* Style inputs, select elements and textareas */
	/* Style the label to display next to the inputs */
	/* Style the submit button */
	/* Floating column for labels: 25% width */
	/* Floating column for inputs: 75% width */
	/* Clear floats after the columns */
	/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
}
.or-form input[type=checkbox] + label,
.or-form input[type=radio] + label {
	width: 80%;
}
.or-form .headline {
	font-size: 1.8em;
}
.or-form div.inputholder > div.dropdown {
	width: 70%;
}
.or-form input.submit {
	padding: 7px;
	border: 0px;
	-moz-border-radius: 7px;
	/* Mozilla */
	-webkit-border-radius: 7px;
	/* Webkit */
	-khtml-border-radius: 7px;
	/* Konqui */
	border-radius: 7px;
	margin-left: 20px;
	cursor: pointer;
}
.or-form input[type=text],
.or-form select,
.or-form textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}
.or-form label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}
.or-form input[type=submit] {
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}
.or-form div.label {
	float: left;
	width: 25%;
	margin-top: 6px;
}
.or-form div.input {
	float: left;
	width: 75%;
	margin-top: 6px;
}
.or-form .line:after {
	content: "";
	display: table;
	clear: both;
}
.or-form .or-form-row {
	display: flex;
	align-items: center;
}
.or-form .or-form-row .or-form-label {
	width: 25%;
}
.or-form .or-form-row .or-form-input {
	width: 75%;
}
.or-form .or-form-actionbar {
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: end;
	padding: 1em;
	height: auto;
}
.or-form .or-form-actionbar .or-form-btn {
	padding: 1em 2em;
	margin-left: 1.5em;
	min-width: 14em;
	border: 0;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-khtml-border-radius: 0.5em;
	cursor: pointer;
}
.or-form .or-form-actionbar .or-form-btn--primary {
	font-weight: bold;
	/* Primäre Aktion in Fettdruck */
}
@media screen and (max-width: 65rem) {
	.or-form div.label,
	.or-form div.input {
		width: 100%;
		margin-top: 0;
	}
	.or-form .or-form-row {
		flex-direction: column;
	}
	.or-form .or-form-row .or-form-label,
	.or-form .or-form-row .or-form-input {
		width: 100%;
	}
	.or-form .or-form-actionbar {
		align-items: center;
	}
	.or-form .or-form-actionbar .or-form-btn {
		width: 90%;
	}
}
.or-link-btn {
	padding: 0.5em 1.0em;
	min-width: 5em;
	border: 0;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-khtml-border-radius: 0.3em;
	cursor: pointer;
}
div.search > div.inputholder {
	padding-top: 1px;
}
div.inputholder > input,
div.inputholder > textarea,
div.inputholder > select {
	padding: 2px;
	margin: 0px;
}
/* Eingabfeld fuer Namen */
fieldset > div input.name,
fieldset > div span.name {
	font-weight: bold;
}
/* Eingabfelder fuer Dateiname */
fieldset > div input.filename,
fieldset > div input.extension,
fieldset > div input.ansidate,
fieldset > div span.filename,
fieldset > div span.extension,
fieldset > div span.ansidate {
	font-family: 'Source Code Pro', Monospace, Monospaced, Courier;
}
dl.notice {
	padding: 15px;
}
div.content pre,
div.dropdown {
	min-width: 150px;
	max-width: 450px;
}
img.image-icon {
	visibility: hidden;
}
/* Make Codemirror Auto-Resizable */
.CodeMirror {
	height: auto;
}
.or-linklist {
	display: flex;
	flex-direction: column;
	padding: 10% 20%;
}
.or-linklist > .or-linklist-line {
	border: 1px solid;
	margin-top: 1em;
	padding: 1em;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-khtml-border-radius: 0.5em;
}
.or-info {
	position: relative;
}
.or-info:hover .or-info-popup {
	display: block;
}
.or-info .or-info-popup {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: visible;
	border: 0.5em;
	font-size: 2em;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-khtml-border-radius: 0.3em;
	padding: 1.0em;
	z-index: 105;
}
.or-info .or-info-popup > div {
	display: inline-block;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22openrat-ui.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22%3B%3BAAIA%3BCACE%3BCACA%3BCACA%3BCACA%2CKAAK%2CMAAM%2CmBAAmB%2CMAAM%2CuBAChC%2CwCAAwC%2COAAO%2CuDAC%5C%2FC%2CwCAAwC%2COAAO%2COAFnD%3B%3B%3B%3B%3BAAMF%3BCACE%2CaAAa%2CiBAAb%3BCACA%3BCACA%3BCACA%2CKAAK%2CMAAM%2CoBAAoB%2CMAAM%2C8BACjC%2CkDAAkD%2COAAO%2CuDACzD%2CiDAAiD%2COAAO%2COAF5D%3B%3B%3B%3BAAKF%3BCACE%2CaAAa%2CgBAAb%3BCACA%3BCACA%3BCACA%2CKAAK%2CMAAM%2CmBACX%2CMAAM%2C8BACF%2CuCAAuC%2COAAO%2CcAC9C%2CsCAAsC%2COAAO%2COAHjD%3B%3BAAMF%3BCACE%2CaAAa%2CgBAAb%3BCACA%3BCACA%3BCACA%3BCACA%3BCACA%3BCACA%3BCACA%3BCACA%3B%3B%3B%3B%3BCAYA%3B%3BAAGA%2CWAAC%2C2BAA2B%3BCAAS%3B%3BAACrC%2CWAAC%2C%2BBAA%2BB%3BCAAS%2CSAAS%2CeAAT%3B%3BAACzC%2CWAAC%2C6BAA6B%3BCAAS%3B%3BAACvC%2CWAAC%2C6BAA6B%3BCAAS%2CSAAS%2CWAAT%3B%3BAACvC%2CWAAC%2C2BAA2B%3BCAAS%2CSAAS%2CWAAT%3B%3BAACrC%2CWAAC%2C2BAA2B%3BCAAS%2CSAAS%2CYAAT%3B%3BAACrC%2CWAAC%2C6BAA6B%3BCAAS%2CSAAS%2CiBAAT%3B%3BAACvC%2CWAAC%2C2BAA2B%3BCAAS%2CSAAS%2CcAAT%3B%3BAACrC%2CWAAC%2C%2BBAA%2BB%3BCAAS%3B%3BAACzC%2CWAAC%2C%2BBAA%2BB%3BCAAS%3B%3BAACzC%2CWAAC%2C2BAA2B%3BCAAS%3B%3BAACrC%2CWAAC%2C8BAA8B%3BCAAS%2CSAAS%2CqBAAT%3B%3BAACxC%2CWAAC%2C2BAA2B%3BCAAS%3B%3BAACrC%2CWAAC%2C%2BBAA%2BB%3BCAAS%3B%3BAACzC%2CWAAC%2C%2BBAA%2BB%3BCAAS%2CSAAS%2CWAAT%3B%3BAAEzC%2CWAAC%2CyBAAyB%3BCAAS%3B%3BAACnC%2CWAAC%2CwBAAwB%3BCAAS%2CSAAS%2CWAAT%3B%3BAAClC%2CWAAC%2CuBAAuB%3BCAAS%3B%3BAACjC%2CWAAC%2CyBAAyB%3BCAAS%2CSAAS%2CiBAAT%3B%3BAACnC%2CWAAC%2CwBAAwB%3BCAAS%2CSAAS%2CaAAT%3B%3BAAClC%2CWAAC%2CwBAAwB%3BCAAS%2CSAAS%2CmBAAT%3B%3BAAClC%2CWAAC%2CwBAAwB%3BCAAS%3B%3BAAClC%2CWAAC%2C6BAA6B%3BCAAS%2CSAAS%2CYAAT%3B%3BAACvC%2CWAAC%2CyBAAyB%3BCAAS%2CSAAS%2CYAAT%3B%3BAACnC%2CWAAC%2C0BAA0B%3BCAAS%2CSAAS%2CaAAT%3B%3BAACpC%2CWAAC%2CgCAAgC%3BCAAS%3B%3BAAC1C%2CWAAC%2C4BAA4B%3BCAAS%3B%3BAACtC%2CWAAC%2C4BAA4B%3BCAAS%3B%3BAACtC%2CWAAC%2CgCAAgC%3BCAAS%3B%3BAAC1C%2CWAAC%2C8BAA8B%3BCAAS%3B%3BAACxC%2CWAAC%2CyBAAyB%3BCAAS%3B%3BAACnC%2CWAAC%2C4BAA4B%3BCAAS%3B%3BAACtC%2CWAAC%2CwBAAwB%3BCAAS%3B%3BAAClC%2CWAAC%2C2BAA2B%3BCAAS%2CSAAS%2CYAAT%3B%3BAACrC%2CWAAC%2C4BAA4B%3BCAAS%3B%3BAACtC%2CWAAC%2CiCAAiC%3BCAAS%3B%3BAAC3C%2CWAAC%2C%2BBAA%2BB%3BCAAS%3B%3BAACzC%2CWAAC%2C2BAA2B%3BCAAS%2CSAAS%2CiBAAT%3B%3BAAErC%2CWAAC%2CyBAAyB%3BCAAS%2CSAAS%2CYAAT%3B%3BAAEnC%2CWAAC%3BCAAiC%2CSAAS%2CiBAAT%3B%3BAAClC%2CWAAC%2C4BAA4B%3BCAAS%3B%3BAACtC%2CWAAC%2C2BAA2B%3BCAAS%2CSAAS%2CcAAT%3B%3BAACrC%2CWAAC%2CwBAAwB%3BCAAS%3B%3BAAClC%2CWAAC%2CuBAAuB%3BCAAS%3B%3BAACjC%2CWAAC%2CuBAAuB%3BCAAS%3B%3BAACjC%2CWAAC%2C0BAA0B%3BCAAS%3B%3BAACpC%2CWAAC%2C2BAA2B%3BCAAS%3B%3BAACrC%2CWAAC%2CwBAAwB%3BCAAS%3B%3BAAClC%2CWAAC%2C0BAA0B%3BCAAS%3B%3BAACpC%2CWAAC%2CuBAAuB%3BCAAS%2CSAAS%2CSAAT%3B%3BAACjC%2CWAAC%2CuBAAuB%3BCAAS%3B%3BAACjC%2CWAAC%2C4BAA4B%3BCAAS%3B%3BAACtC%2CWAAC%2CsBAAsB%3BCAAS%3B%3BAAChC%2CWAAC%2CuBAAuB%3BCAAS%3B%3BAAEjC%2CWAAC%2CsBAAsB%3BCAAS%3B%3BAAChC%2CWAAC%2C0BAA0B%3BCAAS%2CSAAS%2CgBAAT%3B%3BAACpC%2CWAAC%2CwBAAwB%3BCAAS%2CSAAS%2CeAAT%3B%3BAAElC%2CWAAC%2CsBAAsB%3BCAAS%2CSAAS%2CaAAT%3B%3BAAChC%2CWAAC%2CwBAAwB%3BCAAS%2CSAAS%2CeAAT%3B%3BAAElC%2CWAAC%2CoBAAoB%3BCAAS%3B%3BAAC9B%2CWAAC%2CwBAAwB%3BCAAS%3B%3BAAElC%2CWAAC%2CwBAAwB%3BCAAS%2CSAAS%2CaAAT%3B%3BAAClC%2CWAAC%2C0BAA0B%3BCAAS%2CSAAS%2CeAAT%3B%3BAACpC%2CWAAC%2C4BAA4B%3BCAAS%2CSAAS%2CaAAT%3B%3BAACtC%2CWAAC%2CwBAAwB%3BCAAS%2CSAAS%2CcAAT%3B%3BAAClC%2CWAAC%2C8BAA8B%3BCAAS%3B%3BAACxC%2CWAAC%2CyBAAyB%3BCAAS%2CSAAS%2CcAAT%3B%3BAACnC%2CWAAC%2CkCAAkC%3BCAAS%2CSAAS%2CsBAAT%3B%3BAAC5C%2CWAAC%2CgCAAgC%3BCAAS%2CSAAS%2CsBAAT%3B%3BAAC1C%2CWAAC%2C2BAA2B%3BCAAS%2CSAAS%2CiBAAT%3B%3BAACrC%2CWAAC%2C8BAA8B%3BCAAS%3B%3BAACxC%2CWAAC%2CwBAAwB%3BCAAS%3B%3BAAClC%2CWAAC%2CyBAAyB%3BCAAS%3B%3BAACnC%2CWAAC%2CwBAAwB%3BCAAS%3B%3BAAClC%2CWAAC%2CwBAAwB%3BCAAS%3B%3BAAClC%2CWAAC%2CwBAAwB%3BCAAS%3B%3BAAClC%2CWAAC%2CkCAAkC%3BCAAS%3B%3BAAC5C%2CWAAC%2CyBAAyB%3BCAAS%2CSAAS%2CYAAT%3B%3BAAGrC%3BCACE%3B%3BAAgBF%3BCACE%3BCACA%3BCACA%3B%3BAAGF%2CGAAG%3BAACH%2CGAAG%2CWAAY%3BAACf%2CGAAG%2CMAAS%2CMAAG%3BCACb%3B%3BAAGF%2CGAAG%3BCAED%3BCACA%3BCACA%3B%3BCAEA%3BCACA%3BCACA%3B%3BAARF%2CGAAG%2CUAWD%2CIAAG%3BCACD%2CyBAAA%3BCACA%3BCACA%3BCACA%3BCAvCF%2CkBAAA%3BCACA%2CuBAAA%3BCACA%2C0BAAA%3BCACA%2CyBAAA%3BCAGA%2CuCAAA%3BCACA%2CoCAAA%3BCACA%2C%2BBAAA%3B%3BAAgBF%2CGAAG%2CUAWD%2CIAAG%2COASD%3BCACE%3BCACA%2CeAAA%3BCACA%3BCACA%3BCACA%3B%3BAAGF%2CGA5BD%2CUAWD%2CIAAG%2COAiBA%2CMACC%3BCACE%3B%3BAAIJ%2CGAlCD%2CUAWD%2CIAAG%2COAuBA%3BCACC%3BCACA%3BCACA%3BCACA%3BCACA%3BCACA%3BCACA%3BCACA%3B%3BAAIF%2CGA9CD%2CUAWD%2CIAAG%2COAmCA%2CMAEC%2CIAAG%3BCACD%3B%3BAAjDR%2CGAAG%2CUAWD%2CIAAG%2COA0CD%2CIAAG%3BCACD%3B%3BAAGF%2CGAzDD%2CUAWD%2CIAAG%2COA8CA%3BCACC%2CSAAS%2CEAAT%3BCACA%3BCACA%3BCACA%3BCACA%3BCACA%3BCACA%2C6BAAA%3BCACA%3BCACA%3BCACA%3B%3BAAnEN%2CGAAG%2CUAWD%2CIAAG%2COA2DD%2CIAAG%3BCACD%3BCACA%3BCACA%3BCACA%3BCACA%2CaAAa%2CiDAAb%3B%3BAAGF%2CGA9ED%2CUAWD%2CIAAG%2COAmEA%2CKACC%2CIAAG%3BCACD%3B%3BAAmBR%2CGAAG%3BCACD%3BCACA%3B%3B%3B%3BAAQF%2CCAAC%3BAACD%2CCAAC%3BCACC%3BCACA%3B%3BAAGF%2CCAAC%3BAACD%2CCAAC%3BCACC%3BCACA%3B%3B%3BAAIF%2CGAAG%3BAACH%2CGAAG%3BCACD%3BCACA%3B%3B%3B%3BAAaF%2CGAAG%2CKAAM%3BCACP%3BCACA%3B%3BAAGF%2CGAAG%2CKAAM%3BCACP%3B%3BAAGF%3BAACA%3BCACE%3B%3B%3BAAQA%2CaAAC%3BCAEC%3BCACA%3B%3BAAGF%2CaAAC%3BCACC%3BCACA%3B%3B%3BAAOJ%2CGAAG%3BCACD%3BCACA%3BCACA%3B%3BAAGF%2CGAAG%2CMAAO%2CGAAE%2CMAAO%3BCACjB%3BCACA%3BCAEA%3BCAEA%2C%2BBAAA%3BCAEA%3B%3BCACA%3B%3BCACA%3B%3BCAEA%3B%3BCACA%3B%3BCACA%3B%3BCACA%3BCAEA%3BCACA%3BCACA%3B%3BAAGF%2CGAAG%3BCACD%3BCACA%3B%3B%3BAAOF%2CGAAG%2CMAAO%2CIAAG%3BCACX%3B%3BAAGF%2CGAAG%2CMAAO%2CIAAG%2COAAQ%2CIAAG%3BAACxB%2CGAAG%2CQAAQ%3BCACT%2CqDAAA%3BCACA%2C4BAAA%3B%3BAAGF%2CGAAG%2CMAAO%2CIAAG%2COAAQ%2CIAAG%3BAACxB%2CGAAG%2CQAAQ%3BCACT%2CuDAAA%3BCACA%2C4BAAA%3B%3BAAGF%2CGAAG%2CMAAO%2CIAAG%2COAAQ%2CIAAG%3BAACxB%2CGAAG%2CQAAQ%3BCACT%2CkDAAA%3BCACA%2C4BAAA%3B%3BAAGF%2CGAAG%2CMAAO%2CIAAG%2COAAQ%2CIAAG%3BAACxB%2CGAAG%2CQAAQ%3BCACT%2CoDAAA%3BCACA%2C4BAAA%3B%3BAAGF%2CGAAG%2CMAAO%2CIAAG%2COAAQ%3BAACrB%2CGAAG%3BCACD%2CyBAAA%3BCACA%2CyBAAA%3BCACA%2C2BAAA%3BCAEA%3BCACA%3BCACA%3BCACA%3B%3BAAIF%2CUACE%2CIAAG%2CMAAM%3BCACP%3BCACA%3BCACA%3BCACA%3BCACA%3BCACA%2CyBAAA%3BCACA%3BCACA%3BCACA%3B%3BAAVJ%2CUAaE%2CIAAG%2CMAAM%2CWAAc%2CMAAG%3BCACxB%3BCACA%3B%3BAAfJ%2CUAkBE%2CIAAG%3BCACD%2CyBAAA%3BCACA%3BCACA%3BCACA%3BCACA%3BCACA%3BCACA%3B%3BAAzBJ%2CUA4BE%2CIAAG%3BAA5BL%2CUA4BiB%2CIAAG%3BAA5BpB%2CUA4B4B%2CIAAG%3BCAC3B%3BCACA%3BCACA%3B%3BAA%5C%2FBJ%2CUAkCE%2CIAAG%2CMAAS%2CMAAG%3BCACb%3B%3BAAIJ%3BCACE%3B%3BAAGF%3BCACE%3B%3B%3B%3B%3BAAMF%2CGAAG%3BCACD%3B%3BAAGF%2CGAAG%2CQAAS%2CIAAG%3BCACb%3BCACA%3BCACA%3BCACA%3BCACA%3BCACA%3BCACA%3B%3BAAGF%2CGAAG%2CQAAS%2CIAAG%2COAAU%2CMAAG%3BCAC1B%3BCACA%3BCACA%3B%3BAAGF%2CGAAG%2CQAAS%2CKAAI%2CsBAAuB%2CIAAG%3BCACxC%3B%3BAAGF%2CGAAG%2CQAAW%3BCACZ%3B%3BAAQF%2CIAAK%2CSAAS%3BCACZ%3B%3B%3BAAKF%3BCA%2BBE%3B%3B%3B%3B%3B%3B%3B%3B%3BAA%5C%2FBF%2CQACE%2CMAAK%2CeAAkB%3BAADzB%2CQAEE%2CMAAK%2CYAAe%3BCAClB%3B%3BAAHJ%2CQAME%3BCACE%3B%3BAAPJ%2CQAcE%2CIAAG%2CYAAe%2CMAAG%3BCACnB%3B%3BAAfJ%2CQAkBE%2CMAAK%3BCACH%3BCACA%3BCACA%3B%3BCACA%3B%3BCACA%3B%3BCACA%3BCACA%3BCACA%3B%3BAA1BJ%2CQAkCE%2CMAAK%3BAAlCP%2CQAkCoB%3BAAlCpB%2CQAkC4B%3BCACxB%3BCACA%3BCACA%2CsBAAA%3BCACA%3BCACA%3BCACA%3B%3BAAxCJ%2CQA4CE%3BCACE%2CyBAAA%3BCACA%3B%3BAA9CJ%2CQAkDE%2CMAAK%3BCACH%3BCACA%2CkBAAA%3BCACA%3BCACA%3BCACA%3BCACA%3B%3BAAxDJ%2CQA4DE%2CIAAG%3BCACD%3BCACA%3BCACA%3B%3BAA%5C%2FDJ%2CQAmEE%2CIAAG%3BCACD%3BCACA%3BCACA%3B%3BAAtEJ%2CQA0EE%2CMAAK%3BCACH%2CSAAS%2CEAAT%3BCACA%3BCACA%3B%3BAA7EJ%2CQAgFE%3BCACE%3BCACA%3B%3BAAlFJ%2CQAgFE%2CaAIE%3BCACE%3B%3BAArFN%2CQAgFE%2CaAOE%3BCACE%3B%3BAAxFN%2CQA%2BFE%3BCAEE%3BCACA%3BCACA%3BCACA%3BCAEA%3BCACA%3BCACA%3BCACA%3B%3BAAzGJ%2CQA%2BFE%2CmBAaC%3BCACE%2CgBAAA%3BCACA%3BCACA%3BCACA%3BCA3dH%2CoBAAA%3BCACA%2CyBAAA%3BCACA%2C4BAAA%3BCACA%2C2BAAA%3BCA2dG%3B%3BAAEA%2CQAtBH%2CmBAaC%2CaASG%3BCACC%3B%3B%3BAAmCP%2CmBAzBuC%3BCAyBvC%2CQAvBI%2CIAAG%3BCAuBP%2CQAvBe%2CIAAG%3BEACZ%3BEACA%3B%3BCAqBN%2CQAlBI%3BEACC%3B%3BCAiBL%2CQAlBI%2CaAEE%3BCAgBN%2CQAlBI%2CaAGE%3BEACE%3B%3BCAcR%2CQAVI%3BEAEE%3B%3BCAQN%2CQAVI%2CmBAIE%3BEACE%3B%3B%3BAASR%3BCACE%2CoBAAA%3BCACA%3BCACA%3BCA3gBA%2CoBAAA%3BCACA%2CyBAAA%3BCACA%2C4BAAA%3BCACA%2C2BAAA%3BCA2gBA%3B%3BAAOF%2CGAAG%2COAAU%2CMAAG%3BCACd%3B%3BAAGF%2CGAAG%2CYAAe%3BAAClB%2CGAAG%2CYAAe%3BAAClB%2CGAAG%2CYAAe%3BCAChB%3BCACA%3B%3B%3BAAIF%2CQAAW%2CMAAI%2CMAAK%3BAACpB%2CQAAW%2CMAAI%2CKAAI%3BCACjB%3B%3B%3BAAIF%2CQAAW%2CMAAI%2CMAAK%3BAACpB%2CQAAW%2CMAAI%2CMAAK%3BAACpB%2CQAAW%2CMAAI%2CMAAK%3BAACpB%2CQAAW%2CMAAI%2CKAAI%3BAACnB%2CQAAW%2CMAAI%2CKAAI%3BAACnB%2CQAAW%2CMAAI%2CKAAI%3BCACjB%2CaAAa%2CiDAAb%3B%3BAAGF%2CEAAE%3BCACA%3B%3BAAIF%2CGAAG%2CQAAS%3BAACZ%2CGAAG%3BCACD%3BCACA%3B%3BAAGF%2CGAAG%3BCACD%3B%3B%3BAAIF%3BCACE%3B%3BAAGF%3BCACE%3BCACA%3BCACA%2CgBAAA%3B%3BAAHF%2CYAKI%3BCACA%2CiBAAA%3BCACA%3BCACA%3BCA5kBF%2CoBAAA%3BCACA%2CyBAAA%3BCACA%2C4BAAA%3BCACA%2C2BAAA%3B%3BAA%2BkBF%3BCAEE%3B%3BAAEA%2CQAAC%2CMACC%3BCACE%3B%3BAANN%2CQAUE%3BCACE%3BCACA%3BCACA%3BCACA%3BCACA%3BCAEA%3BCACA%3BCApmBF%2CoBAAA%3BCACA%2CyBAAA%3BCACA%2C4BAAA%3BCACA%2C2BAAA%3BCAmmBE%3BCAEA%3B%3BAAtBJ%2CQAUE%2CeAcI%3BCACA%22%7D */