@color-overridden-by-theme: black;

@smartphones: ~"only screen and (max-width: 55rem)";

.border-radius (@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    -khtml-border-radius: @radius;
}



.or {
    &-table {

        overflow: auto;
        border: 2px;
        width: 100%;
        table-layout: fixed;

      &-column-date {
        width: 12em;
      }
      &-column-user {
        width: 7em;
      }
      &-column-action {
        width: 5em;
      }
      &-column-auto {
        width: auto;
        max-width: 0;
      }

        &-area {

            /* Responsive Tables */
            @media screen and (max-width: 40em) {

                overflow-x: auto;
            }

        }

        &-filter {
            width: 100%;
            text-align: right;

            &-input {
                .border-radius(3px);
                padding: 0.5em;
                margin: 1em;
                border: 1px solid @color-overridden-by-theme;
                width:7.5em;
            }
        }

        tr.or-headline > td,

        tr {
            padding:0.3em;

          .or-row--on-hover {
            visibility: hidden;
            @media @smartphones {
              visibility: visible;
            }
          }
          &:hover .or-row--on-hover {
            visibility: visible;
          }
        }

        tr > th {

            padding: 3px;
            font-weight: bold;

            &.or-sort-asc > span:last-child:after {
                content: " \2193";
            }
            &.or-sort-desc > span:last-child:after {
                content: " \2191";
            }
        }

        tr.or-data > td {
            padding: 3px;
        }

        tr > td {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            //max-width: 0;
        }

        td.or-readonly {
            font-style: italic;
            font-weight: normal;
        }
        td.or-default {
            font-style: normal;
            font-weight: normal;
        }
        td.or-changed {
            font-style: normal;
            font-weight: bold;
        }

        td:hover > div.or-onrowvisible {
            visibility: visible;
        }

        /* Hilfe-Texte */
        tr td.or-help {
            font-style: italic;
        }

        tr.or-headline td.or-help {
            /*
            border-bottom:1px solid @color-overridden-by-theme;
            */
            font-style: normal;

        }

        &-sort-value {
            display: none;
        }
    }
}
