.or-table {
  overflow: auto;
  border: 2px;
  width: 100%;
  table-layout: fixed;
  /* Hilfe-Texte */
}
.or-table-column-date {
  width: 12em;
}
.or-table-column-user {
  width: 7em;
}
.or-table-column-action {
  width: 5em;
}
.or-table-column-auto {
  width: auto;
  max-width: 0;
}
.or-table-area {
  /* Responsive Tables */
}
@media screen and (max-width: 40em) {
  .or-table-area {
    overflow-x: auto;
  }
}
.or-table-filter {
  width: 100%;
  text-align: right;
}
.or-table-filter-input {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  padding: 0.3em;
  margin: 0 1em;
  border: 1px solid #000000;
  width: 7.5em;
}
.or-table tr.or-headline > td,
.or-table tr {
  padding: 0.3em;
}
.or-table tr.or-headline > td .or-row--on-hover,
.or-table tr .or-row--on-hover {
  visibility: hidden;
}
@media only screen and (max-width: 55rem) {
  .or-table tr.or-headline > td .or-row--on-hover,
  .or-table tr .or-row--on-hover {
    visibility: visible;
  }
}
.or-table tr.or-headline > td:hover .or-row--on-hover,
.or-table tr:hover .or-row--on-hover {
  visibility: visible;
}
.or-table tr > th {
  padding: 3px;
  font-weight: bold;
}
.or-table tr > th.or-sort-asc > span:last-child:after {
  content: " \2193";
}
.or-table tr > th.or-sort-desc > span:last-child:after {
  content: " \2191";
}
.or-table tr.or-data > td {
  padding: 3px;
}
.or-table tr > td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.or-table td.or-readonly {
  font-style: italic;
  font-weight: normal;
}
.or-table td.or-default {
  font-style: normal;
  font-weight: normal;
}
.or-table td.or-changed {
  font-style: normal;
  font-weight: bold;
}
.or-table td:hover > div.or-onrowvisible {
  visibility: visible;
}
.or-table tr td.or-help {
  font-style: italic;
}
.or-table tr.or-headline td.or-help {
  /*
            border-bottom:1px solid @color-overridden-by-theme;
            */
  font-style: normal;
}
.or-table-sort-value {
  display: none;
}

